# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Pycharm files
.idea/

# Vagrant files
deployment/.vagrant/
deployment/Vagrantfile

# Database files
*.sqlite3
*.db

# User uploaded files
mws/media/*

# Production secrets
mws/mws/production_secrets.py

# VMManager installation files
vmmanager/vmmanager.egg-info

# virtualenv files
mws/venv/*

# django static dependencies
mws/static_dep/*
