{% extends 'ucamprojectlight.html' %}
{% load static %}

{% block app_head %}
    <link rel="stylesheet" href="{% static 'stylesheets/mws.css' %}" />
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% include 'ucamlookup_headers.html' with jquery=False %}
    <link href="{% static 'stylesheets/font-awesome.css' %}" media="screen" rel="stylesheet" type="text/css" />
    <script src="{% static 'js/custom.js' %}"></script>
{% endblock %}

{% block head_title %}Managed Web Service administration site{% endblock %}

{% block all_breadcrumbs %}
    {{ block.super }}
    <p style="color: white; text-align: right;">
        Welcome <a href="{% url 'mwsauth.views.user_panel' %}">{{ request.user.last_name }} ({{ request.user.username }})</a>
    </p>
{% endblock %}

{% block static_breadcrumbs %}
    {# My parent organisation #}
    <li>
        <a href="http://www.cam.ac.uk/">University of Cambridge</a>
    </li>
    {# My app name #}
    <li>
        <a href="/">Managed Web Service administration site</a>
    </li>
{% endblock %}

{% block site_name %}
    <a href="/">Managed Web Service administration site</a>
{% endblock %}

{% block search_bar %}
{% endblock %}

{% block campl_tabs_header %}
{% endblock %}

{% block campl_page_header %}
    {{ block.super }}
    <div class="campl-row campl-page-header">
        <div class="campl-wrap clearfix campl-local-navigation" id="local-nav">
            <div class="campl-local-navigation-container campl-mobile">
                <ul class="campl-unstyled-list">
                    <li><a href="{% url 'sitesmanagement.views.index' %}">List of MWS Servers</a></li>
                    {% if site %}
                    <li><a>Panels for MWS "{{ site.name }}": </a></li>
                    <li><a href="{% url 'sitesmanagement.views.show' site_id=site.id %}">Main Panel</a></li>
                    <li><a href="{% url 'mwsauth.views.auth_change' site_id=site.id %}">Auth Panel</a></li>
                    {% if site.primary_vm %}
                    <li>
                        <a>Production Server</a>
                        <ul class="campl-unstyled-list">
                            <li><a href="{% url 'sitesmanagement.views.settings' vm_id=site.primary_vm.id %}">Settings</a></li>
                            <li><a href="{% url 'sitesmanagement.views.vhosts_management' vm_id=site.primary_vm.id %}">Web Sites</a></li>
                            <li><a href="{% url 'sitesmanagement.views.system_packages' vm_id=site.primary_vm.id %}">System Packages</a></li>
                            <li><a href="{% url 'sitesmanagement.views.unix_groups' vm_id=site.primary_vm.id %}">Unix Groups</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    {% if site.secondary_vm %}
                    <li>
                        <a>Test Server</a>
                        <ul class="campl-unstyled-list">
                            <li><a href="{% url 'sitesmanagement.views.settings' vm_id=site.secondary_vm.id %}">Settings</a></li>
                            <li><a href="{% url 'sitesmanagement.views.vhosts_management' vm_id=site.secondary_vm.id %}">Web Sites</a></li>
                            <li><a href="{% url 'sitesmanagement.views.system_packages' vm_id=site.secondary_vm.id %}">System Packages</a></li>
                            <li><a href="{% url 'sitesmanagement.views.unix_groups' vm_id=site.secondary_vm.id %}">Unix Groups</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block blurb %}The Managed Web Service is provided by the <a href="http://www.uis.cam.ac.uk">University Information Services</a>.{% endblock %}

{% block footer1 %}<h3><a href="/">Managed Web Service administration site</a></h3>{% endblock %}

{% block footer2 %}<h3><a href="{% url 'sitesmanagement.views.privacy' %}">Privacy & cookie policy</a></h3>{% endblock %}
