{% extends 'project-light/campl-mws.html' %}
{% block page_content %}
    <div class="campl-column12 campl-main-content">
        <div class="campl-content-container">
            <p class="campl-notifications-icon campl-warning-icon" style="float:none; margin-bottom: 10px;">Your user has been suspended. You have no longer access to this tool.</p>
            <p>Please contact <a href="mailto:raven-support@ucs.cam.ac.uk">raven-support@ucs.cam.ac.uk</a> for more information.</p>
        </div>
    </div>
{% endblock %}