{% extends 'project-light/campl-mws.html' %}
{% load static %}
{% block page_content %}
    <div class="campl-column12 campl-main-content">
        <div class="campl-content-container">

            <p>This site allows member of the university to request a managed web server</p>

            <p>When you request a MWS you automatically get the right to
            manage it in the future. {% if all_metadatas %} A list of
            the sites that you manage appears below. {% endif %} For
            any site that you manage you can nominate additional
            managers, and you are strongly advised to do so.</p>

            {% if deactivate_new %}
                <p class="campl-notifications-icon campl-warning-icon" style="float:none; margin-bottom: 10px;">
                    At this moment we cannot process any new request for a new Managed Web Server, please try again later.
                </p>
            {% else %}
                <p><a href="{% url 'sitesmanagement.views.new' %}" class="campl-primary-cta">Register new site</a></p>
            {% endif %}

            {% if all_sites %}
                <h1>MWS sites for {{ user.username }}</h1>
                <table class="campl-table-bordered campl-table-striped campl-table campl-vertical-stacking-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Domain Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for site in all_sites %}
                        {% if site.is_admin_suspended %}
                            <tr class="site_suspended">
                                <td>
                                    {{ site.name }} <br/>
                                    This site has been administratively suspended
                        {% else %}
                            <tr>
                                <td>
                                    {{ site.name }}
                        {% endif %}
                                </td>
                                <td>
                                    {{ site.description }}
                                </td>
                                <td>
                                    {% for domain in site.domain_names %}
                                        {{ domain.name }}<br/>
                                    {% endfor %}
                                </td>
                                <td style="width: 35px;">
                                    {% if not site.is_admin_suspended %}
                                        <a href="{% url 'sitesmanagement.views.show' site_id=site.id %}">
                                            <i title="Details of your site" class="fa fa-angle-double-right fa-2x"></i>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
