{% extends 'project-light/campl-mws.html' %}
{% load static %}
{% block page_content %}
    <div class="view view-focus-on view-id-focus_on view-display-id-page view-dom-id-72bb6d9402373e031c9ceae3857ad9ac">
        <div class="view-header">
            <div class="campl-content-container">
                <div class="campl-heading-container">
                    <h1 id="page-title">Administration of the MWS <span style="">{{ site.name }}</span></h1>
                </div>
            </div>
        </div>


        <div class="view-content">

            <div class="campl-column12">
                {% for message in warning_messages %}
                    <p class="campl-warning">{{ message }}</p>
                {% endfor %}
            </div>

            <div class="campl-column4">

                <div class="campl-content-container campl-side-padding">
                    <article
                            class="node-27051 node node-external-link view-mode-focus_on clearfix campl-horizontal-teaser campl-teaser campl-focus-teaser">
                        <div class="campl-focus-teaser-img">
                            <div class="campl-content-container campl-horizontal-teaser-img">
                                <a href="http://www.cam.ac.uk/about-the-university?camref=home-focuson">
                                    <div class="field field-name-field-external-url-image field-type-image field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even">
                                                <img class="campl-scale-with-grid"
                                                     src="{% static "icons/settings.png" %}"
                                                     height="128" style="margin: 10px;" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="campl-focus-teaser-txt">
                            <div class="campl-content-container campl-horizontal-teaser-txt">
                                <h3 class="campl-teaser-title">
                                    <a href="{% url 'SitesManagement.views.show' site_id=site.id %}">
                                        Change settings of your server
                                    </a>
                                </h3>
                                <a href="{% url 'SitesManagement.views.show' site_id=site.id %}"
                                   class="ir campl-focus-link">Change settings of your server</a></div>
                        </div>
                    </article>
                    <!-- /.node -->
                </div>


            </div>
            <div class="campl-column4">

                <div class="campl-content-container campl-side-padding">
                    <article
                            class="node-27052 node node-external-link view-mode-focus_on clearfix campl-horizontal-teaser campl-teaser campl-focus-teaser">
                        <div class="campl-focus-teaser-img">
                            <div class="campl-content-container campl-horizontal-teaser-img">
                                <a href="http://www.cam.ac.uk/study-at-cambridge?ucampl-ref=home-focuson">
                                    <div class="field field-name-field-external-url-image field-type-image field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even">
                                                <img class="campl-scale-with-grid"
                                                     src="{% static "icons/site.png" %}"
                                                     height="128" style="margin: 10px;" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="campl-focus-teaser-txt">
                            <div class="campl-content-container campl-horizontal-teaser-txt">
                                <h3 class="campl-teaser-title">
                                    <a href="{% url 'SitesManagement.views.show' site_id=site.id %}">
                                        Change information data of your site
                                    </a>
                                </h3>
                                <a href="{% url 'SitesManagement.views.show' site_id=site.id %}"
                                   class="ir campl-focus-link">Change information data of your site</a></div>
                        </div>
                    </article>
                    <!-- /.node -->
                </div>


            </div>
            <div class="campl-column4">

                <div class="campl-content-container campl-side-padding">
                    <article
                            class="node-27053 node node-external-link view-mode-focus_on clearfix campl-horizontal-teaser campl-teaser campl-focus-teaser">
                        <div class="campl-focus-teaser-img">
                            <div class="campl-content-container campl-horizontal-teaser-img">
                                <a href="http://www.cam.ac.uk/research?ucampl-ref=home-focuson">
                                    <div class="field field-name-field-external-url-image field-type-image field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even">
                                                <img class="campl-scale-with-grid"
                                                     src="{% static "icons/user.png" %}"
                                                     height="128" style="margin: 10px;" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="campl-focus-teaser-txt">
                            <div class="campl-content-container campl-horizontal-teaser-txt">
                                <h3 class="campl-teaser-title">
                                    <a href="{% url 'SitesManagement.views.show' site_id=site.id %}">
                                        Change user and groups authorised in this MWS
                                    </a>
                                </h3>
                                <a href="{% url 'SitesManagement.views.show' site_id=site.id %}"
                                   class="ir campl-focus-link">Change user and groups authorised in this MWS</a></div>
                        </div>
                    </article>
                    <!-- /.node -->
                </div>


            </div>
            <div class="campl-column4">

                <div class="campl-content-container campl-side-padding">
                    <article
                            class="node-27054 node node-external-link view-mode-focus_on clearfix campl-horizontal-teaser campl-teaser campl-focus-teaser">
                        <div class="campl-focus-teaser-img">
                            <div class="campl-content-container campl-horizontal-teaser-img">
                                <a href="http://www.admin.cam.ac.uk/whatson/?ucampl-ref=home-focuson">
                                    <div class="field field-name-field-external-url-image field-type-image field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even">
                                                <img class="campl-scale-with-grid"
                                                     src="{% static "icons/billing.png" %}"
                                                     height="128" style="margin: 10px;" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="campl-focus-teaser-txt">
                            <div class="campl-content-container campl-horizontal-teaser-txt">
                                <h3 class="campl-teaser-title">
                                    <a href="{% url 'SitesManagement.views.billing' site_id=site.id %}">
                                        Change billing information
                                    </a>
                                </h3>
                                <a href="{% url 'SitesManagement.views.billing' site_id=site.id %}"
                                   class="ir campl-focus-link">Change billing information</a></div>
                        </div>
                    </article>
                    <!-- /.node -->
                </div>


            </div>
        </div>


    </div>
{% endblock %}