{% extends 'campl-metadata.html' %}
{% block page_content %}
    <div class="campl-column12 campl-main-content">
        <div class="campl-content-container">
            {% for message in messages %}
                <p class="campl-notifications-icon campl-warning-icon" style="float:none; margin-bottom: 10px;">{{ message }}</p>
            {% endfor %}
            <p>Please contact <a href="mailto:raven-support@ucs.cam.ac.uk">raven-support@ucs.cam.ac.uk</a> if you need more information.</p>
        </div>
    </div>
{% endblock %}