{% extends "admin/delete_selected_confirmation.html" %}
{% load i18n l10n admin_urls static %}

{% block content %}
    <div class="g-d-c">
        <div class="grp-group">
            <h2>{% blocktrans %}Are you sure you want to recreate the selected {{ objects_name }}?{% endblocktrans %}</h2>
            <div class="grp-module grp-collapse grp-open">
                <h3 class="grp-collapse-handler">Summary</h3>
            </div>
            {% for a_object in list_objects %}
                <ul class="grp-nested-list">{{ a_object|unordered_list }}</ul>
            {% endfor %}

        </div>
            <form method="post">
                {% csrf_token %}
                <div id="submit" class="grp-module grp-submit-row grp-fixed-footer">
                    {% for obj in queryset %}
                    <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}" />
                    {% endfor %}
                    <input type="hidden" name="action" value="recreate_vm" />
                    <input type="hidden" name="post" value="yes" />
                    <ul>
                        <li class="grp-float-left">
                            <a href="." class="grp-button grp-cancel-link">{% trans "No, take me back" %}</a>
                        </li>
                        <li><input type="submit" value="{% trans "Yes, I'm sure" %}" class="grp-button grp-default"></li>
                    </ul>
                </div>
            </form>
    </div>
{% endblock %}