PyOpenSSL
celery>=3.1.25,<4.0
django-celery
django-debug-toolbar
django-reversion
django-stronghold>=0.2.6
# TODO replace with django-ucamlookup>=3.0.0 when released to PyPI
git+https://gitlab.developers.cam.ac.uk/uis/devops/django/ucamlookup.git@issue-11-upgrade-select2-4#egg=django-ucamlookup
django-ucamprojectlight>=1.1
django-ucamwebauth>=1.2
django>=1.11,<1.12
ecdsa
mock>=1.0.1
psycopg2
pycrypto>=2.6.1
pyyaml
redis~=2.10
requests
python-dateutil
dnspython
