django>=1.7,<1.8
PyOpenSSL>=0.14
django-stronghold>=0.2.6
django-reversion>=1.8.4
django-grappelli>=2.6
django-ucamwebauth>=1.2
django-ucamprojectlight>=1.1
django-ucamlookup>=1.1
requests
celery>=3.1.16
django-celery>=3.1.16
pycrypto>=2.6.1
mock>=1.0.1
