django>=1.7,<1.8
PyOpenSSL>=0.14,<0.15
cryptography==1.4
django-stronghold>=0.2.6
django-reversion>=1.8.4,<1.10
django-grappelli<2.7
django-ucamwebauth>=1.2
django-ucamprojectlight>=1.1
django-ucamlookup>=1.1
requests
celery>=3.1.16,<4.0
django-celery>=3.1.16
pycrypto>=2.6.1
ecdsa
mock>=1.0.1
django-debug-toolbar<1.5
django-jenkins<0.19
coverage
#astroid<1.4
#pylint<1.5
pep8>=1.3
pyflakes
pylint-django