{% extends 'campl-page-header.html' %}
{% block static_breadcrumbs %}
    {% comment %}
        Hard-code as many of these static breadcrumbs as you like.
        They'll be displayed for every page in your app, before the dynamic
        breadcrumbs you supply from your view, if any.
    {% endcomment %}
    {# My parent organisation #}
    <li>
        <a href="http://www.cam.ac.uk/">University of Cambridge</a>
    </li>
    {# My app name #}
    <li>
        <a href="/">Managed Web Service administration site</a>
    </li>
{% endblock %}
{% block full_site_name %}
    <a href="/">Managed Web Service administration site</a>
{% endblock %}
{% block search_bar %}
{% endblock %}
