{% extends 'campl.html' %}
{% load static %}
{% block campl_block_head %}
{% include 'campl-block-head-mws.html' %}
{% endblock %}
{% block campl_page_header %}
{% include 'campl-page-header-mws.html' %}
{% endblock %}
{% block campl_tabs_header %}
{% include 'campl-tabs-header-mws.html' %}
{% endblock %}
{% block page_content %}
{% include 'campl-page-content-mws.html' %}
{% endblock %}
{% block local_footer %}
{% include 'campl-local-footer-mws.html' %}
{% endblock %}
{% block campl_foot_js %}
{% include 'campl-foot-js-mws.html' %}
{% endblock %}