{% extends 'project-light/campl-mws.html' %}
{% load static %}
{% block page_content %}
    <div class="campl-column12 campl-main-content">
        <div class="campl-content-container">
            <h1>Add a vhost to your mws site {{ site.name }}</h1>
            <form action={% url 'sitesmanagement.views.add_vhost' vm_id=vm.id %} method="post">{% csrf_token %}
                <fieldset>
                    <div id="vhost_form">
                        {{ vhost_form.as_p }}
                    </div>
                    <p><input type="submit" value="Submit" class="campl-btn campl-primary-cta"/></p>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}