{% extends 'project-light/campl-mws.html' %}
{% load static %}
{% block page_content %}
    {{ block.super }}
    <div class="campl-column12 campl-main-content">
        <div class="campl-content-container">
            <h1>Add a Unix Group to your "{{ service.site.name }}" {% if service.primary %}production{% else %}test{% endif %} server</h1>
            <form action={% url 'createunixgroup' service_id=service.id %} method="post">
                <fieldset>
                    {% csrf_token %}
                    <div id="unix_group_form">
                        {{ form.as_p }}
                        <p>
                            Users:<br/>
                            <input id="input-lookup-users-ajax" name="unix_users">
                        </p>
                    </div>
                    <p><input type="submit" value="Submit" class="campl-btn campl-primary-cta"/></p>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}

{% block campl_foot_js %}
    {% include 'ucamlookup_users.html' with input_tag_id="input-lookup-users-ajax" multiple="true" user_list="unix_users" %}
{% endblock %}
