{% extends 'project-light/campl-mws.html' %}
{% block page_content %}
    {{ block.super }}
    <div class="campl-column12 campl-main-content">
        <div class="campl-content-container">
            <h1>Authorised users and groups</h1>

            <p>You can authorise other users as administrators or ssh-only users. Administrators will have access to all
                the features of the control panel and can connect to the server via SSH. SSH-only users will only have
                access to the server via SSH. They won't be able to access the web panel.</p>
            <p>You can search for other users using the text field below by typing their name or CRSid. It will let you
                autocomplete by selecting their entry from the drop-down list.</p>
            <p>You can also authorise users or administrators using
                <a href="http://www.ucs.cam.ac.uk/lookup/">Lookup</a>
                <a href="http://www.ucs.cam.ac.uk/lookup/groups">groups</a>.
            </p>

            <form action={% url 'mwsauth.views.auth_change' site_id=site.id %} method="post" style="float: left; width: 65%;">
                <fieldset>
                    {% csrf_token %}
                    <p>
                        Administrators:<br/>
                        <select id="input-lookup-users-ajax" name="users_crsids" multiple="multiple">
                            {% for user in authorised_users %}
                                <option selected=selected value="{{ user.username }}">
                                    {{user.last_name}} ({{ user.username }})
                                </option>
                            {% endfor %}
                        </select>
                    </p>
                    <p>
                        SSH-only users:<br/>
                        <select id="input-lookup-sshusers-ajax" name="sshusers_crsids" multiple="multiple">
                            {% for user in sshuserlist %}
                                <option selected=selected value="{{ user.username }}">
                                    {{user.last_name}} ({{ user.username }})
                                </option>
                            {% endfor %}
                        </select>
                    </p>
                    <p>
                        Administrators lookup groups:<br/>
                        <select id="input-lookup-groups-ajax" name="groupids" multiple="multiple">
                            {% for group in authorised_groups %}
                                <option selected=selected value="{{ group.lookup_id }}">{{group.name}}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p>
                        SSH-only lookup groups:<br/>
                        <select id="input-lookup-sshgroups-ajax" name="sshgroupids" multiple="multiple">
                            {% for group in sshusers_groups %}
                                <option selected=selected value="{{ group.lookup_id }}">{{group.name}}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p><input type="submit" value="Submit" class="campl-btn campl-primary-cta"/></p>
                </fieldset>
            </form>
            <div style="background-color: #999999; float: left; width: 25%; padding: 20px 5% 10px 5%;">
                <p>The list of users authorised using Lookup groups are refreshed every 24 hours. If you want to refresh
                it now, you can use the following button.</p>
                <form action={% url 'mwsauth.views.force_update' site_id=site.id %} method="post">
                    <fieldset>
                        {% csrf_token %}
                        <p><input type="submit" value="Force update" class="campl-btn campl-primary-cta"/></p>
                    </fieldset>
                </form>
            </div>
            {% if request.user.is_superuser %}
            <div style="float: left; width: 31%; padding: 15px 2% 10px 2%;">
                <p>This is the current list of supporters for this MWS server: {{ site.supporters.all|join:',' }}</p>
                <p>If you want to add yourself as a supporter click the button below. After 1 hour you will be
                    deleted from the supporter list</p>
                <form action={% url 'mwsauth.views.add_supporter' site_id=site.id %} method="post">
                    <fieldset>
                        {% csrf_token %}
                        <p><input type="submit" value="Add yourself" class="campl-btn campl-primary-cta"></p>
                    </fieldset>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block campl_foot_js %}
    {% include 'ucamlookup_users.html' with input_tag_id="input-lookup-users-ajax" multiple="true" %}
    {% include 'ucamlookup_users.html' with input_tag_id="input-lookup-sshusers-ajax" multiple="true" %}
    {% include 'ucamlookup_groups.html' with input_tag_id="input-lookup-groups-ajax" multiple="true" %}
    {% include 'ucamlookup_groups.html' with input_tag_id="input-lookup-sshgroups-ajax" multiple="true" %}
{% endblock %}
