{% extends 'project-light/campl-mws.html' %}
{% load static %}
{% block page_content %}
    <div class="campl-column12 campl-main-content">
        <div class="campl-content-container">
            <h1>TLS/SSL certificates</h1>

            <form action={% url 'sitesmanagement.views.edit' site_id=site.id %} method="post">{% csrf_token %}
                <fieldset>
                    <p><input type="submit" value="Submit" class="campl-btn campl-primary-cta"/></p>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}

{% block campl_foot_js %}
{% endblock %}