{% extends 'project-light/campl-mws.html' %}
{% load static %}
{% block page_content %}
    <div class="campl-column12 campl-main-content">
        <div class="campl-content-container">
            <h1>Reset the database root password</h1>
            <form action="{% url 'sitesmanagement.views.change_db_root_password' service_id=service.id %}" method="post">
                <fieldset>
                    {% csrf_token %}
                    <p>New password</p>
                    <p><input type="password" name="new_root_passwd" /></p>
                    <p><input type="submit" value="Submit" class="campl-btn campl-primary-cta"/></p>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}