{% extends 'project-light/campl-mws.html' %}
{% load static %}
{% block page_content %}
    {{ block.super }}
    <div class="campl-column12 campl-main-content">
        <div class="campl-content-container">
            <h1>Reset the database root password</h1>
            <form action="{% url 'change_db_root_password' service_id=service.id %}" method="post">
                <fieldset>
                    {% csrf_token %}
                    {% if ansibleconf %}
                        {% if ansibleconf == "Resetting" %}
                        <div>
                            <p>The system is working at resetting the key, please refresh the page in a few seconds</p>
                        </div>
                        {% else %}
                        <div>
                            <p>The new mysql root password is: {{ ansibleconf }}</p>
                            <p>You can now change the root password to one chosen by you,
                                once you have done that please click the following button to delete the
                                temporary root password from the database.</p>
                            <p><input type="submit" name="typepost" value="Delete temporary mySQL root password" class="campl-btn campl-primary-cta"/></p>
                        </div>
                        {% endif %}
                    {% else %}
                    <div class="campl-notifications-panel campl-warning-panel campl-notifications-container clearfix">
                        <div class="campl-column4">
                            <p class="campl-notifications-icon campl-warning-icon">Warning:</p>
                        </div>
                        <div class="campl-column8">
                            <p>Resetting your mySQL root password will cause a brief (usually a few seconds) downtime of your database.</p>
                        </div>
                    </div>
                    <p><input type="submit" value="Reset mySQL root password" class="campl-btn campl-primary-cta"/></p>
                    {% endif %}
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
