{% extends 'project-light/campl-mws.html' %}
{% load static %}
{% block page_content %}
    {{ block.super }}
    <div class="campl-column12">
        <div class="campl-content-container">
            <h1 id="page-title">Production and test server management</h1>
            {% if site.production_service and site.production_service.virtual_machines.count > 0 and site.test_service and site.test_service.virtual_machines.count == 0 %}
            {% if can_upgrade %}
                <form action={% url 'sitesmanagement.views.clone_vm_view' site_id=site.id %} method="post">{% csrf_token %}
                    <fieldset>
                            <div>
                                <h3>Test the OS upgrade of the production server by creating a test server</h3>
                                <p>
                                    <input type="submit" value="Clone Production server as Test server" class="campl-btn campl-primary-cta">
                                </p>
                            </div>
                    </fieldset>
                </form>
            {% else %}
                {% if is_queued %}
                    <h3>We are still waiting to create your server.</h3>
                {% else %}
                    <h3>We cannot create the test server right now. Your request has been placed in a queue.</h3>
                {% endif %}
                <p>We'll send an email to the site administrators at <b>{{ site.email }}</b> when the test server is created.</p>
            {% endif %}
            {% endif %}
            {% if site.test_service and site.test_service.virtual_machines.count != 0 %}
                <form action={% url 'sitesmanagement.views.switch_services' site_id=site.id %} method="post">{% csrf_token %}
                    <fieldset>
                        <div>
                            <h3>Swap the Test and Production servers</h3>
                            <p>
                                <input type="submit" value="Swap the Test and Production servers" class="campl-btn campl-primary-cta">
                            </p>
                            <p>
                                After this, you can still swap them back.
                                However, once you are happy then you can delete the test server using the control panel.
                                Deleting the test server is permanent.
                            </p>
                        </div>
                    </fieldset>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
