{% extends 'project-light/campl-mws.html' %}
{% load static %}
{% block page_content %}
    <div class="campl-column12">
        <div class="campl-content-container">
            <h1 id="page-title">Clone your VM</h1>

            <form action={% url 'sitesmanagement.views.clone_vm_view' site_id=site.id %} method="post">{% csrf_token %}
                <fieldset>
                    {% if site.primary_vm %}
                        <div>
                            <p>Clone your Primary VM to a Secondary VM</p>

                            {% if site.secondary_vm %}
                                <p>
                                    <img src="{% static 'images/interface/icon-warning.png' %}">
                                    Warning:
                                </p>
                                <p>The contents of your secondary VM will be lost when cloning your primary vm into your secondary vm</p>
                            {% endif %}

                            <p>
                                <input type="hidden" name="primary_vm" value="true">
                                <input type="submit" value="Clone Primary into Secondary" class="campl-btn campl-primary-cta">
                            </p>
                        </div>
                    {% endif %}
                    {% if site.secondary_vm %}
                        <div>
                            <p>Clone your Secondary VM to a Primary VM</p>

                            {% if site.primary_vm %}
                                <p>
                                    <img src="{% static 'images/interface/icon-warning.png' %}">
                                    Warning:
                                </p>
                                <p>The contents of your primary VM will be lost when cloning your secondary vm into your primary vm</p>
                            {% endif %}

                            <p>
                                <input type="hidden" name="primary_vm" value="false">
                                <input type="submit" value="Clone Secondary into Primary" class="campl-btn campl-primary-cta">
                            </p>
                        </div>
                    {% endif %}
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
