{% extends 'project-light/campl-mws.html' %}
{% load static %}
{% block page_content %}
    {{ block.super }}
    <div class="campl-column12">
        <div class="campl-content-container">
            <h1 id="page-title">Disable your MWS server</h1>
            <form action={% url 'disablesite' site_id=site.id %} method="post">
                <fieldset>
                    {% csrf_token %}
                    <div>
                        <p>
                            <img src="{% static 'images/interface/icon-warning.png' %}">
                            Warning:
                        </p>

                        <p>
                            The virtual machines will shut down and you will no longer have access while the MWS server is disabled.<br>
                            You can later reactivate the MWS server and have access again to the virtual machines.<br>
                            <input type="submit" value="Disable" class="campl-btn campl-primary-cta">
                        </p>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
