{% extends 'project-light/campl-mws.html' %}
{% block page_content %}
    <div class="campl-column12 campl-main-content">
        <div class="campl-content-container">

            <h1>Domain names for the vhost "{{ vhost.name }}" of the mws "{{ vhost.vm.site.name }}"</h1>
            <table class="campl-table-bordered campl-table-striped campl-table campl-vertical-stacking-table">
                <thead>
                    <tr>
                        <th>Domain Name</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for domain in vhost.domain_names.all %}
                    <tr>
                        <td>
                            {{ domain.name }}
                            {% if domain == vhost.main_domain %}
                                <br/>This is the current main domain
                            {% endif %}
                        </td>
                        <td>
                            {{ domain.get_status_display }}
                        </td>
                        <td style="width: 135px;">
                            <a href="#" onclick="javascript:ajax_call('{% url 'sitesmanagement.views.set_dn_as_main' domain_id=domain.id %}', 'POST')">
                                Set as Master
                            </a>
                            <a class="delete_vhost" data-toggle="confirmation" data-href="javascript:ajax_call('{% url 'sitesmanagement.views.delete_dn' domain_id=domain.id %}', 'DELETE')" href="#">
                                <i title="Delete" class="fa fa-trash-o fa-2x"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <p><a href="{% url 'sitesmanagement.views.add_domain' vhost_id=vhost.id %}" class="campl-primary-cta">Add a new domain</a></p>

        </div>
    </div>
{% endblock %}


{% block campl_foot_js %}
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function ajax_call(url, type) {
            $.ajax({
                url: url,
                type: type,
                success: function(result) {
                    location.reload();
                },
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                },
                crossDomain: false
            });
        }

        $(document).ready(function() {
            $('[data-toggle="confirmation"]').confirmation({singleton:true, popout:true, placement:'top'});
        })
    </script>
{% endblock %}
