{% extends 'project-light/campl-mws.html' %}
{% block page_content %}
    <div class="campl-column12 campl-main-content">
        <div class="campl-content-container">

            <h1>Domain names for the vhost "{{ vhost.name }}" of the mws "{{ vhost.site.name }}"</h1>
            <table class="campl-table-bordered campl-table-striped campl-table campl-vertical-stacking-table">
                <thead>
                    <tr>
                        <th>Domain Name</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for domain in vhost.domain_names.all %}
                    <tr>
                        <td>
                            {{ domain.name }}
                            {% if domain == vhost.main_domain %}
                                <br/>This is the current main domain
                            {% endif %}
                        </td>
                        <td>
                            {{ domain.get_status_display }}
                        </td>
                        <td style="width: 35px;">
                            <a href="{% url 'sitesmanagement.views.set_dn_as_main' vhost_id=vhost.id domain_id=domain.id %}">
                                Set as Master
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        <p><a href={% url 'sitesmanagement.views.add_domain' vhost_id=vhost.id %} class="campl-primary-cta">Add a new domain</a></p>

        </div>
    </div>
{% endblock %}
