{% extends 'project-light/campl-mws.html' %}
{% load static %}
{% block page_content %}
    {{ block.super }}
    <div class="campl-column12 campl-main-content">
        <div class="campl-content-container">
            <h1>Managed Web Service account settings</h1>

            <form action={% url 'editsite' site_id=site.id %} method="post">
                <fieldset>
                    {% csrf_token %}
                    <div id="site_form">
                        {{ form.as_p }}
                    </div>
                    <p><input type="submit" value="Update" class="campl-btn campl-primary-cta"/></p>
                </fieldset>
            </form>
            <p><a href="{% url 'disablesite' site_id=site.id %}" class="campl-btn campl-primary-cta campl-primary-red">Disable this Managed Web Service site</a></p>
            <p><a href="{% url 'deletesite' site_id=site.id %}" class="campl-btn campl-primary-cta campl-primary-red">Cancel this Managed Web Service account</a></p>
        </div>
    </div>
{% endblock %}

{% block campl_foot_js %}
    <script>
        $(document).ready(function() {
            $("#id_institution_id").select2({
                placeholder: "Select an Institution",
                allowClear: false
            });
        });
    </script>
{% endblock %}
