{% extends 'project-light/campl-mws.html' %}
{% load static %}
{% block page_content %}
    <div class="campl-column12 campl-main-content">
        <div class="campl-content-container">
            <h1>Change information about your MWS</h1>

            <form action={% url 'sitesmanagement.views.edit' site_id=site.id %} method="post">{% csrf_token %}
                <fieldset>
                    <div id="site_form">
                        {{ site_form.as_p }}
                    </div>
                    <p><input type="submit" value="Submit" class="campl-btn campl-primary-cta"/></p>
                </fieldset>
            </form>
            <p><a href={% url 'sitesmanagement.views.show' site_id=site.id %}>Back to main menu</a></p>
        </div>
    </div>
{% endblock %}

{% block campl_foot_js %}
    <script>
        $(document).ready(function() {
            $("#id_institution_id").select2({
                placeholder: "Select an Institution",
                allowClear: false
            });
        });
    </script>
{% endblock %}