{% extends 'project-light/campl-mws.html' %}
{% load static %}
{% block page_content %}
    {{ block.super }}
    <div class="campl-column12 campl-main-content">
        <div class="campl-content-container">
            <h1>Request new site</h1>

            <form action={% url 'newsite' %} method="post">{% csrf_token %}
                <fieldset>
                    <div id="site_form">
                        {{ form.as_p }}
                    </div>
                    <p>When requesting a MWS site you accept our <a href="{% url 'sitesmanagement.views.termsconds' %}">terms and conditions.</a></p>
                    <p><input type="submit" value="Submit" class="campl-btn campl-primary-cta"/></p>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}

{% block campl_foot_js %}
    <script>
        $(document).ready(function() {
            $("#id_siteform-institution_id").select2({
                placeholder: "Select an Institution",
                allowClear: false
            });
        });
    </script>
{% endblock %}