{% extends 'project-light/campl-mws.html' %}
{% load static %}
{% block page_content %}
    <div class="view view-focus-on view-id-focus_on view-display-id-page">
        <div class="view-header">
            <div class="campl-content-container">
                <div class="campl-heading-container">
                    <h1 id="page-title">Settings of the MWS <span style="">{{ site.name }}</span></h1>
                </div>
            </div>
        </div>

        <div class="campl-column4">
            <div class="campl-content-container campl-side-padding">
                <article class="node node-external-link view-mode-focus_on clearfix
                                campl-horizontal-teaser campl-teaser campl-focus-teaser">
                    <div class="campl-focus-teaser-img">
                        <div class="campl-content-container campl-horizontal-teaser-img">
                            <a href="{% url 'sitesmanagement.views.system_packages' site_id=site.id %}">
                                <div class="field field-name-field-external-url-image field-type-image
                                            field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item even">
                                            <img class="campl-scale-with-grid"
                                                 src="{% static "icons/system_packages.png" %}"
                                                 height="128" style="margin: 10px;" alt="">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="campl-focus-teaser-txt">
                        <div class="campl-content-container campl-horizontal-teaser-txt">
                            <h3 class="campl-teaser-title">
                                <a href="{% url 'sitesmanagement.views.system_packages' site_id=site.id %}">
                                    Install system packages
                                </a>
                            </h3>
                            <a href="{% url 'sitesmanagement.views.system_packages' site_id=site.id %}"
                               class="ir campl-focus-link">Install system packages</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>

        <div class="campl-column4">
            <div class="campl-content-container campl-side-padding">
                <article class="node node-external-link view-mode-focus_on clearfix
                                campl-horizontal-teaser campl-teaser campl-focus-teaser">
                    <div class="campl-focus-teaser-img">
                        <div class="campl-content-container campl-horizontal-teaser-img">
                            <a href="{% url 'sitesmanagement.views.clone_vm_view' site_id=site.id %}">
                                <div class="field field-name-field-external-url-image field-type-image
                                            field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item even">
                                            <img class="campl-scale-with-grid"
                                                 src="{% static "icons/cloud.png" %}"
                                                 height="128" style="margin: 10px;" alt="">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="campl-focus-teaser-txt">
                        <div class="campl-content-container campl-horizontal-teaser-txt">
                            <h3 class="campl-teaser-title">
                                <a href="{% url 'sitesmanagement.views.clone_vm_view' site_id=site.id %}">
                                    Clone your VM
                                </a>
                            </h3>
                            <a href="{% url 'sitesmanagement.views.clone_vm_view' site_id=site.id %}"
                               class="ir campl-focus-link">Clone your VM</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>

        {% if not platforms_api_error %}
        <div class="campl-column4">
            <div class="campl-content-container campl-side-padding">
                <article class="node node-external-link view-mode-focus_on clearfix
                                campl-horizontal-teaser campl-teaser campl-focus-teaser">
                    <div class="campl-focus-teaser-img">
                        <div class="campl-content-container campl-horizontal-teaser-txt">
                            <div class="field field-name-field-external-url-image field-type-image
                                        field-label-hidden">
                                <div class="field-items">
                                    <div id="vm_status_message" class="field-item even" style="color: #ffffff">
                                        Checking the status of your VM
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="campl-focus-teaser-txt">
                        <div class="campl-content-container campl-horizontal-teaser-txt">
                            <h3 class="campl-teaser-title">
                                <a id="vm_status_message_link" href="#"
                                   onclick='$("#translucidframe")[0].style.visibility = "visible"'></a>
                            </h3>
                            <a id="vm_status_link" href="#" class="ir campl-focus-link"
                               onclick='$("#translucidframe")[0].style.visibility = "visible"'></a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        {% endif %}

    </div>
    <div id="translucidframe">
        <img src="{% static 'img/ajax_loader_orange_256.gif' %}">
    </div>
{% endblock %}


{% block campl_foot_js %}
    <script>
        $(document).ready(
                $.ajax({url: "{% url 'sitesmanagement.views.check_vm_status' vm_id=primary_vm.id %}",
                    success:function(result){
                        if (result['vm_is_on'] === undefined) {
                            $("#vm_status_message").html("We are currently experimenting a problem. ");
                            $("#vm_status_message_link").html("Please try again later.");
                        } else {
                            if (result['vm_is_on'] == true) {
                                $("#vm_status_message").html("Your primary VM is currently ON");
                                $("#vm_status_message_link").attr("href", "{% url 'sitesmanagement.views.reset_vm' vm_id=primary_vm.id %}");
                                $("#vm_status_message_link").html("If it does not respond you can do a hard reset, clicking here");
                                $("#vm_status_link").attr("href", "{% url 'sitesmanagement.views.reset_vm' vm_id=primary_vm.id %}");
                            } else if (result['vm_is_on'] == false) {
                                $("#vm_status_message").html("Your primary VM is currently OFF");
                                $("#vm_status_message_link").attr("href", "{% url 'sitesmanagement.views.power_vm' vm_id=primary_vm.id %}");
                                $("#vm_status_message_link").html("Power it on");
                                $("#vm_status_link").attr("href", "{% url 'sitesmanagement.views.power_vm' vm_id=primary_vm.id %}");
                            } else {
                                $("#vm_status_message").html("We are currently experimenting a problem.");
                                $("#vm_status_message_link").html("Please try again later.");
                            }
                        }
                    }
                })
        )
    </script>
{% endblock %}
