{% extends 'project-light/campl-mws.html' %}
{% load static %}
{% block page_content %}
    <div class="view view-focus-on view-id-focus_on view-display-id-page">
        <div class="view-header">
            <div class="campl-content-container">
                <div class="campl-heading-container">
                    <h1 id="page-title">{% if vm.primary %}Server{% else %}Test server{% endif %} settings</h1>
                </div>
            </div>
        </div>

        <div class="campl-column3">
            <div class="campl-content-container campl-side-padding">
                <article class="node node-external-link view-mode-focus_on clearfix
                                campl-horizontal-teaser campl-teaser campl-focus-teaser">
                    <div class="campl-focus-teaser-img">
                        <div class="campl-content-container campl-horizontal-teaser-img">
                            <a href="{% url 'sitesmanagement.views.vhosts_management' vm_id=vm.id %}">
                                <div class="field field-name-field-external-url-image field-type-image
                                            field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item even">
                                            <img class="campl-scale-with-grid"
                                                 src="{% static "icons/dns.png" %}"
                                                 height="128" style="margin: 10px;" alt="">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="campl-focus-teaser-txt">
                        <div class="campl-content-container campl-horizontal-teaser-txt">
                            <h3 class="campl-teaser-title">
                                <a href="{% url 'sitesmanagement.views.vhosts_management' vm_id=vm.id %}">
                                    Web sites
                                </a>
                            </h3>
                            <a href="{% url 'sitesmanagement.views.vhosts_management' vm_id=vm.id %}"
                               class="ir campl-focus-link">Web sites</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>

        <div class="campl-column3">
            <div class="campl-content-container campl-side-padding">
                <article class="node node-external-link view-mode-focus_on clearfix
                                campl-horizontal-teaser campl-teaser campl-focus-teaser">
                    <div class="campl-focus-teaser-img">
                        <div class="campl-content-container campl-horizontal-teaser-img">
                            <a href="{% url 'sitesmanagement.views.system_packages' vm_id=vm.id %}">
                                <div class="field field-name-field-external-url-image field-type-image
                                            field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item even">
                                            <img class="campl-scale-with-grid"
                                                 src="{% static "icons/system_packages.png" %}"
                                                 height="128" style="margin: 10px;" alt="">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="campl-focus-teaser-txt">
                        <div class="campl-content-container campl-horizontal-teaser-txt">
                            <h3 class="campl-teaser-title">
                                <a href="{% url 'sitesmanagement.views.system_packages' vm_id=vm.id %}">
                                    System packages
                                </a>
                            </h3>
                            <a href="{% url 'sitesmanagement.views.system_packages' vm_id=vm.id %}"
                               class="ir campl-focus-link">System packages</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>

        <div class="campl-column3">
            <div class="campl-content-container campl-side-padding">
                <article class="node node-external-link view-mode-focus_on clearfix
                                campl-horizontal-teaser campl-teaser campl-focus-teaser">
                    <div class="campl-focus-teaser-img">
                        <div class="campl-content-container campl-horizontal-teaser-img">
                            <a href="{% url 'sitesmanagement.views.unix_groups' vm_id=vm.id %}">
                                <div class="field field-name-field-external-url-image field-type-image
                                            field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item even">
                                            <img class="campl-scale-with-grid"
                                                 src="{% static "icons/user2.png" %}"
                                                 height="128" style="margin: 10px;" alt="">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="campl-focus-teaser-txt">
                        <div class="campl-content-container campl-horizontal-teaser-txt">
                            <h3 class="campl-teaser-title">
                                <a href="{% url 'sitesmanagement.views.unix_groups' vm_id=vm.id %}">
                                    Unix Groups
                                </a>
                            </h3>
                            <a href="{% url 'sitesmanagement.views.unix_groups' vm_id=vm.id %}"
                               class="ir campl-focus-link">Unix Groups</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>

        {% if vm.is_ready %}
            <div class="campl-column6">
                <div class="campl-content-container campl-side-padding">
                    <article class="node node-external-link view-mode-focus_on clearfix
                                    campl-horizontal-teaser campl-teaser campl-focus-teaser">
                        <div class="campl-focus-teaser-img">
                            <div class="campl-content-container campl-horizontal-teaser-txt">
                                <div class="field field-name-field-external-url-image field-type-image
                                            field-label-hidden">
                                    <div class="field-items">
                                        <div id="vm_status_message" class="field-item even" style="color: #ffffff">
                                            Checking the status of the {% if not vm.primary %}test {% endif %} server
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="campl-focus-teaser-txt">
                            <div class="campl-content-container campl-horizontal-teaser-txt">
                                <h3 class="campl-teaser-title">
                                    <a id="vm_status_message_link" href="#"
                                       onclick='$("#translucidframe")[0].style.visibility = "visible"'></a>
                                </h3>
                                <a id="vm_status_link" href="#" class="ir campl-focus-link"
                                   onclick='$("#translucidframe")[0].style.visibility = "visible"'></a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        {% else %}
            <div class="campl-column6">
                <div class="campl-content-container campl-side-padding">
                    <article class="node node-external-link view-mode-focus_on clearfix
                                    campl-horizontal-teaser campl-teaser campl-focus-teaser">
                            <div class="campl-content-container campl-horizontal-teaser-txt">
                                <div id="vm_status_busy" class="field-item even" style="color: #ffffff">
                                    The server is busy, we are configuring it
                                </div>
                            </div>
                    </article>
                </div>
            </div>
        {% endif %}

        {% if not vm.primary %}
        <div class="campl-column3">
            <div class="campl-content-container campl-side-padding">
                <article class="node node-external-link view-mode-focus_on clearfix
                                campl-horizontal-teaser campl-teaser campl-focus-teaser campl-focus-teaser-red">
                    <div class="campl-focus-teaser-img">
                        <div class="campl-content-container campl-horizontal-teaser-img">
                            <a class="delete_vm" data-toggle="confirmation" data-href="javascript:delete_vm('{% url 'sitesmanagement.views.delete_vm' vm_id=vm.id %}')" href="#">
                                <div class="field field-name-field-external-url-image field-type-image
                                            field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item even">
                                            <i class="fa fa-trash fa-6x" style="color: orangered; margin-top: 5px; margin-left: 15px;"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="campl-focus-teaser-txt">
                        <div class="campl-content-container campl-horizontal-teaser-txt">
                            <h3 class="campl-teaser-title">
                                <a class="delete_vm" data-toggle="confirmation" data-href="javascript:delete_vm('{% url 'sitesmanagement.views.delete_vm' vm_id=vm.id %}')" href="#">
                                    Delete the test server
                                </a>
                            </h3>
                            <a class="delete_vm ir campl-focus-link campl-focus-link-red" data-toggle="confirmation" data-href="javascript:delete_vm('{% url 'sitesmanagement.views.delete_vm' vm_id=vm.id %}')" href="#">
                                Delete the test server
                            </a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        {% endif %}

    </div>
    <div id="translucidframe">
        <img src="{% static 'img/ajax_loader_orange_256.gif' %}">
    </div>
{% endblock %}


{% block campl_foot_js %}
    <script>
        $(document).ready(
            $.ajax({url: "{% url 'sitesmanagement.views.check_vm_status' vm_id=vm.id %}",
                success:function(result){
                    if (result['vm_is_on'] === undefined) {
                        $("#vm_status_message").html("We are currently experimenting a problem. ");
                        $("#vm_status_message_link").html("Please try again later.");
                    } else {
                        if (result['vm_is_on'] == true) {
                            $("#vm_status_message").html("The {% if not vm.primary %}test {% endif %} server is currently ON");
                            $("#vm_status_message_link").attr("href", "{% url 'sitesmanagement.views.reset_vm' vm_id=vm.id %}");
                            $("#vm_status_message_link").html("If the it does not respond you can do a hard reset, clicking here");
                            $("#vm_status_link").attr("href", "{% url 'sitesmanagement.views.reset_vm' vm_id=vm.id %}");
                        } else if (result['vm_is_on'] == false) {
                            $("#vm_status_message").html("The {% if not vm.primary %}test {% endif %} server is currently OFF");
                            $("#vm_status_message_link").attr("href", "{% url 'sitesmanagement.views.power_vm' vm_id=vm.id %}");
                            $("#vm_status_message_link").html("Power it on");
                            $("#vm_status_link").attr("href", "{% url 'sitesmanagement.views.power_vm' vm_id=vm.id %}");
                        } else {
                            $("#vm_status_message").html("We are currently experimenting a problem.");
                            $("#vm_status_message_link").html("Please try again later.");
                        }
                    }
                }
            })
        );

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function delete_vm(url) {
            $("#translucidframe")[0].style.visibility = "visible";
            $.ajax({
                url: url,
                type: 'DELETE',
                success: function(result) {
                    window.location = "{% url 'sitesmanagement.views.show' site_id=site.id %}";
                },
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                },
                crossDomain: false
            });
        }

        $(document).ready(function() {
            $('[data-toggle="confirmation"]').confirmation({singleton:true, popout:true, placement:'top'});
        })
    </script>
{% endblock %}
