{% extends 'project-light/campl-mws.html' %}
{% load static %}
{% block page_content %}
    {{ block.super }}
    <div class="view view-focus-on view-id-focus_on view-display-id-page">
        <div class="view-header">
            <div class="campl-content-container">
                <div class="campl-heading-container">
                    <h1 id="page-title">{% if service.primary %}Server{% else %}Test server{% endif %} settings</h1>
                </div>
            </div>
        </div>

        {% if service.quarantined %}
        <div class="campl-notifications-panel campl-warning-panel campl-notifications-container clearfix">
            <div class="campl-column4">
                <p class="campl-notifications-icon campl-warning-icon">Warning:</p>
            </div>
            <div class="campl-column8">
                <p>Your server is currently under quarantine</p>
            </div>
        </div>
        {% endif %}

        <div class="campl-column12">
            {% if service.primary %}
            <div class="campl-column3">
                <div class="campl-content-container campl-side-padding">
                    <a href="{% url 'listvhost' service_id=service.id %}">
                        <article class="node node-external-link view-mode-focus_on clearfix
                                        campl-horizontal-teaser campl-teaser campl-focus-teaser">
                            <div class="campl-focus-teaser-img">
                                <div class="campl-content-container campl-horizontal-teaser-img">
                                    <div class="field field-name-field-external-url-image field-type-image
                                                field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even">
                                                <img class="campl-scale-with-grid"
                                                     src="{% static "icons/browser.png" %}"
                                                     height="128" style="margin: 10px;" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="campl-focus-teaser-txt">
                                <div class="campl-content-container campl-horizontal-teaser-txt">
                                    <h3 class="campl-teaser-title">Web sites</h3>
                                    <span class="ir campl-focus-link"></span>
                                </div>
                            </div>
                        </article>
                    </a>
                </div>
            </div>
            {% endif %}

{#            <div class="campl-column3">#}
{#                <div class="campl-content-container campl-side-padding">#}
{#                    <a href="{% url 'sitesmanagement.views.apache_modules' service_id=service.id %}">#}
{#                        <article class="node node-external-link view-mode-focus_on clearfix#}
{#                                        campl-horizontal-teaser campl-teaser campl-focus-teaser">#}
{#                            <div class="campl-focus-teaser-img">#}
{#                                <div class="campl-content-container campl-horizontal-teaser-img">#}
{#                                    <div class="field field-name-field-external-url-image field-type-image#}
{#                                                field-label-hidden">#}
{#                                        <div class="field-items">#}
{#                                            <div class="field-item even">#}
{#                                                <img class="campl-scale-with-grid"#}
{#                                                     src="{% static "icons/system-settings.png" %}"#}
{#                                                     height="128" style="margin: 10px;" alt="">#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="campl-focus-teaser-txt">#}
{#                                <div class="campl-content-container campl-horizontal-teaser-txt">#}
{#                                    <h3 class="campl-teaser-title">Apache modules</h3>#}
{#                                    <span class="ir campl-focus-link"></span>#}
{#                                </div>#}
{#                            </div>#}
{#                        </article>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}

            <div class="campl-column3">
                <div class="campl-content-container campl-side-padding">
                    <a href="{% url 'sitesmanagement.views.php_libs' service_id=service.id %}">
                        <article class="node node-external-link view-mode-focus_on clearfix
                                        campl-horizontal-teaser campl-teaser campl-focus-teaser">
                            <div class="campl-focus-teaser-img">
                                <div class="campl-content-container campl-horizontal-teaser-img">
                                    <div class="field field-name-field-external-url-image field-type-image
                                                field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even">
                                                <img class="campl-scale-with-grid"
                                                     src="{% static "icons/system-settings.png" %}"
                                                     height="128" style="margin: 10px;" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="campl-focus-teaser-txt">
                                <div class="campl-content-container campl-horizontal-teaser-txt">
                                    <h3 class="campl-teaser-title">PHP Libraries</h3>
                                    <span class="ir campl-focus-link"></span>
                                </div>
                            </div>
                        </article>
                    </a>
                </div>
            </div>

            {% if service.primary %}
            <div class="campl-column3">
                <div class="campl-content-container campl-side-padding">
                    <a href="{% url 'listunixgroups' service_id=service.id %}">
                        <article class="node node-external-link view-mode-focus_on clearfix
                                        campl-horizontal-teaser campl-teaser campl-focus-teaser">
                            <div class="campl-focus-teaser-img">
                                <div class="campl-content-container campl-horizontal-teaser-img">
                                    <div class="field field-name-field-external-url-image field-type-image
                                                field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even">
                                                <img class="campl-scale-with-grid"
                                                     src="{% static "icons/group.png" %}"
                                                     height="128" style="margin: 10px;" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="campl-focus-teaser-txt">
                                <div class="campl-content-container campl-horizontal-teaser-txt">
                                    <h3 class="campl-teaser-title">Unix Groups</h3>
                                    <span class="ir campl-focus-link"></span>
                                </div>
                            </div>
                        </article>
                    </a>
                </div>
            </div>
            {% endif %}

            <div class="campl-column3">
                <div class="campl-content-container campl-side-padding">
                    <a href="{% url 'sitesmanagement.views.change_db_root_password' service_id=service.id %}">
                        <article class="node node-external-link view-mode-focus_on clearfix
                                        campl-horizontal-teaser campl-teaser campl-focus-teaser">
                            <div class="campl-focus-teaser-img">
                                <div class="campl-content-container campl-horizontal-teaser-img">
                                    <div class="field field-name-field-external-url-image field-type-image
                                                field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even">
                                                <img class="campl-scale-with-grid"
                                                     src="{% static "icons/db.png" %}"
                                                     height="128" style="margin: 10px;" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="campl-focus-teaser-txt">
                                <div class="campl-content-container campl-horizontal-teaser-txt">
                                    <h3 class="campl-teaser-title">Change database root password</h3>
                                    <span class="ir campl-focus-link"></span>
                                </div>
                            </div>
                        </article>
                    </a>
                </div>
            </div>

        {% if service.primary %}
            <div class="campl-column3">
                <div class="campl-content-container campl-side-padding">
                    <a href="{% url 'backups' service_id=service.id %}">
                        <article class="node node-external-link view-mode-focus_on clearfix
                                        campl-horizontal-teaser campl-teaser campl-focus-teaser">
                            <div class="campl-focus-teaser-img">
                                <div class="campl-content-container campl-horizontal-teaser-img">
                                    <div class="field field-name-field-external-url-image field-type-image
                                                field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even">
                                                <img class="campl-scale-with-grid"
                                                     src="{% static "icons/clock-1.png" %}"
                                                     height="128" style="margin: 10px;" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="campl-focus-teaser-txt">
                                <div class="campl-content-container campl-horizontal-teaser-txt">
                                    <h3 class="campl-teaser-title">Backups</h3>
                                    <span class="ir campl-focus-link"></span>
                                </div>
                            </div>
                        </article>
                    </a>
                </div>
            </div>
        {% else %}
            <div class="campl-column3">
                <div class="campl-content-container campl-side-padding">
                    <a class="delete_vm" href="#">
                        <article class="node node-external-link view-mode-focus_on clearfix
                                        campl-horizontal-teaser campl-teaser campl-focus-teaser campl-focus-teaser-red">
                            <div class="campl-focus-teaser-img">
                                <div class="campl-content-container campl-horizontal-teaser-img">
                                    <div class="field field-name-field-external-url-image field-type-image field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even">
                                                <img class="campl-scale-with-grid" src="{% static "icons/recyclebin.png" %}" height="128" style="margin: 10px;" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="campl-focus-teaser-txt">
                                <div class="campl-content-container campl-horizontal-teaser-txt">
                                    <h3 class="campl-teaser-title">Delete the test server</h3>
                                    <span class="ir campl-focus-link"></span>
                                </div>
                            </div>
                        </article>
                    </a>
                </div>
            </div>

            <div class="campl-column3">
                <div class="campl-content-container campl-side-padding">
                    <a class="resync" href="#">
                        <article class="node node-external-link view-mode-focus_on clearfix
                                        campl-horizontal-teaser campl-teaser campl-focus-teaser">
                            <div class="campl-focus-teaser-img">
                                <div class="campl-content-container campl-horizontal-teaser-img">
                                    <div class="field field-name-field-external-url-image field-type-image
                                                field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even">
                                                <img class="campl-scale-with-grid" src="{% static "icons/restart.png" %}"
                                                     height="128" style="margin: 10px;" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="campl-focus-teaser-txt">
                                <div class="campl-content-container campl-horizontal-teaser-txt">
                                    <h3 class="campl-teaser-title"{% if not site.is_ready %} style="color: orangered"{% endif %}>
                                        Copy production filesystem to test{% if not site.is_ready %} (disabled while any of the servers are being configured){% endif %}
                                    </h3>
                                    <span class="ir campl-focus-link"></span>
                                </div>
                            </div>
                        </article>
                    </a>
                </div>
            </div>
        {% endif %}

        <div class="campl-column3">
            <div class="campl-content-container campl-side-padding">
                <a class="restart_vm" href="#">
                    <article class="node node-external-link view-mode-focus_on clearfix
                                    campl-horizontal-teaser campl-teaser campl-focus-teaser">
                        <div class="campl-focus-teaser-img">
                            <div class="campl-content-container campl-horizontal-teaser-img">
                                <div class="field field-name-field-external-url-image field-type-image
                                            field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item even">
                                            <img class="campl-scale-with-grid" src="{% static "icons/restart.png" %}"
                                                 height="128" style="margin: 10px;" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="campl-focus-teaser-txt">
                            <div class="campl-content-container campl-horizontal-teaser-txt">
                                <h3 class="campl-teaser-title"{% if not site.is_ready %} style="color: orangered"{% endif %}>
                                    Restart{% if not site.is_ready %} (disabled while any of the servers are being configured){% endif %}
                                </h3>
                                <span class="ir campl-focus-link"></span>
                            </div>
                        </div>
                    </article>
                </a>
            </div>
        </div>

        {% if service.primary %}
        <div class="campl-column3">
            <div class="campl-content-container campl-side-padding">
                <a href="{% url 'sitesmanagement.views.quarantine' service_id=service.id %}">
                    <article class="node node-external-link view-mode-focus_on clearfix
                                    campl-horizontal-teaser campl-teaser campl-focus-teaser">
                        <div class="campl-focus-teaser-img">
                            <div class="campl-content-container campl-horizontal-teaser-img">
                                <div class="field field-name-field-external-url-image field-type-image
                                            field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item even">
                                            <img class="campl-scale-with-grid"
                                                 src="{% static "icons/quarantine.png" %}"
                                                 height="128" style="margin: 10px;" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="campl-focus-teaser-txt">
                            <div class="campl-content-container campl-horizontal-teaser-txt">
                                <h3 class="campl-teaser-title">Quarantine</h3>
                                <span class="ir campl-focus-link"></span>
                            </div>
                        </div>
                    </article>
                </a>
            </div>
        </div>
        {% endif %}
    </div>


    {% if not service.primary %}
        <table class="campl-table-bordered campl-table-striped campl-table campl-vertical-stacking-table">
            <thead>
                <tr>
                    <th>Web site name</th>
                    <th>Associated hostname</th>
                    <th>Production server</th>
                    <th>Test server</th>
                </tr>
            </thead>
            <tbody>
            {% for vhost in service.site.production_service.vhosts.all %}
                <tr>
                    <td>
                        {{ vhost.name }}
                    </td>
                    <td>
                        {% if vhost.sorted_domain_names %}
                            {{ vhost.sorted_domain_names|join:", " }}
                        {% else %}
                            <p style="color: #CF0000">This web site does not have any hostname associated. You need to add one using the button in the right hand side.</p>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ vhost.get_url }}/mws3/unsetcookie.html" target="_blank" style="text-decoration: none;">Visit the website in the production server</a>
                    </td>
                    <td>
                        <a href="{{ vhost.get_url }}/mws3/setcookie.html" target="_blank" style="text-decoration: none;">Visit the website in the test server</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if not service.primary %}
    <!-- Modal delete -->
    <div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="delete_modal_label" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    Are you sure you want to delete the test server?
                </div>
                <div class="modal-footer" style="padding: 10px 20px 10px;">
                    <form action="{% url 'sitesmanagement.views.delete_vm' service_id=service.id %}" method="post">
                        {% csrf_token %}
                        <button type="button" class="campl-btn campl-primary-cta" data-dismiss="modal">Cancel</button>
                        <input type="submit" value="Delete" class="campl-btn campl-primary-cta campl-primary-red">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal resync -->
    <div class="modal fade" id="resync_modal" tabindex="-1" role="dialog" aria-labelledby="resync_modal_label" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    Are you sure you want to resync your filesystem?
                </div>
                <div class="modal-footer" style="padding: 10px 20px 10px;">
                    <form action="{% url 'sitesmanagement.views.resync' site_id=service.site.id %}" method="post">
                        {% csrf_token %}
                        <button type="button" class="campl-btn campl-primary-cta" data-dismiss="modal">Cancel</button>
                        <input type="submit" value="Resync" class="campl-btn campl-primary-cta campl-primary-red">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Modal restart os -->
    <div class="modal fade" id="restart_modal" tabindex="-1" role="dialog" aria-labelledby="restart_modal_label" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    Are you sure you want to restart your site?
                </div>
                <div class="modal-footer" style="padding: 10px 20px 10px;">
                    <form action="{% url 'sitesmanagement.views.reset_vm' service_id=service.id %}" method="post">
                        {% csrf_token %}
                        <button type="button" class="campl-btn campl-primary-cta" data-dismiss="modal">Cancel</button>
                        <input type="submit" value="Restart" class="campl-btn campl-primary-cta campl-primary-red">
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block campl_foot_js %}
    <script>
        {% if not service.primary %}
            $('.delete_vm').click(function() {
                $('#delete_modal').modal();
            });
            {% if site.is_ready %}
                $('.resync').click(function() {
                    $('#resync_modal').modal();
                });
            {% endif %}
        {% endif %}
        {% if site.is_ready %}
            $('.restart_vm').click(function() {
                $('#restart_modal').modal();
            });
        {% endif %}
    </script>
{% endblock %}
