{% extends 'project-light/campl-mws.html' %}
{% load static %}
{% block page_content %}
    {{ block.super }}
    <div class="view view-focus-on view-id-focus_on view-display-id-page">
        <div class="view-header">
            <div class="campl-content-container"></div>
        </div>

        <div class="view-content">

            {% if warning_messages or messages %}
            <div class="campl-column12">
                <div class="campl-content-container campl-side-padding">
                    <article class="node node-external-link view-mode-focus_on clearfix campl-horizontal-teaser
                                    campl-teaser campl-focus-teaser" style="background: #D05252">
                        <div class="campl-focus-teaser-txt">
                            <div style="padding: 20px; color: white">
                                <h2 style="color: white">Messages:</h2>
                                <ul>
                                    {% for message in messages %}
                                        <li>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            {% endif %}

        {% if site.production_service and site.production_service.active and not site.production_service.is_busy %}

            <div class="campl-column4">
                <div class="campl-content-container campl-side-padding">
                    <a href="{% url 'sitesmanagement.views.service_settings' service_id=site.production_service.id %}">
                        <article class="node node-external-link view-mode-focus_on clearfix campl-horizontal-teaser campl-teaser campl-focus-teaser">
                            <div class="campl-focus-teaser-img">
                                <div class="campl-content-container campl-horizontal-teaser-img">
                                    <div class="field field-name-field-external-url-image field-type-image field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even">
                                                <img class="campl-scale-with-grid" src="{% static "icons/settings-3.png" %}" height="128" style="margin: 10px;" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="campl-focus-teaser-txt">
                                <div class="campl-content-container campl-horizontal-teaser-txt">
                                    <h3 class="campl-teaser-title">Server settings</h3>
                                    <span class="ir campl-focus-link"></span>
                                </div>
                            </div>
                        </article>
                    </a>
                </div>
            </div>

            <div class="campl-column4">
                <div class="campl-content-container campl-side-padding">
                    <a href="{% url 'editsite' site_id=site.id %}">
                        <article class="node node-external-link view-mode-focus_on clearfix campl-horizontal-teaser campl-teaser campl-focus-teaser">
                            <div class="campl-focus-teaser-img">
                                <div class="campl-content-container campl-horizontal-teaser-img">
                                        <div class="field field-name-field-external-url-image field-type-image field-label-hidden">
                                            <div class="field-items">
                                                <div class="field-item even">
                                                    <img class="campl-scale-with-grid" src="{% static "icons/pencil.png" %}" height="128" style="margin: 10px;" alt="">
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <div class="campl-focus-teaser-txt">
                                <div class="campl-content-container campl-horizontal-teaser-txt">
                                    <h3 class="campl-teaser-title">Account settings</h3>
                                    <span class="ir campl-focus-link"></span>
                                </div>
                            </div>
                        </article>
                    </a>
                </div>
            </div>

            <div class="campl-column4">
                <div class="campl-content-container campl-side-padding">
                    <a href="{% url 'mwsauth.views.auth_change' site_id=site.id %}">
                        <article class="node node-external-link view-mode-focus_on clearfix campl-horizontal-teaser campl-teaser campl-focus-teaser">
                            <div class="campl-focus-teaser-img">
                                <div class="campl-content-container campl-horizontal-teaser-img">
                                    <div class="field field-name-field-external-url-image field-type-image field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even">
                                                <img class="campl-scale-with-grid" src="{% static "icons/person.png" %}" height="128" style="margin: 10px;" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="campl-focus-teaser-txt">
                                <div class="campl-content-container campl-horizontal-teaser-txt">
                                    <h3 class="campl-teaser-title">Manage authorised users and groups</h3>
                                    <span class="ir campl-focus-link"></span>
                                </div>
                            </div>
                        </article>
                    </a>
                </div>
            </div>

            {% if site.production_service.due_update or site.in_testing %}
                {% if site.test_service and site.test_service.status != 'installing' and site.test_service.status != 'postinstall'  %}
                    <div class="campl-column4">
                        <div class="campl-content-container campl-side-padding">
                            <a href="{% url 'sitesmanagement.views.clone_vm_view' site_id=site.id %}">
                                <article class="node node-external-link view-mode-focus_on clearfix
                                                campl-horizontal-teaser campl-teaser campl-focus-teaser">
                                    <div class="campl-focus-teaser-img">
                                        <div class="campl-content-container campl-horizontal-teaser-img">
                                            <div class="field field-name-field-external-url-image field-type-image
                                                        field-label-hidden">
                                                <div class="field-items">
                                                    <div class="field-item even">
                                                        <img class="campl-scale-with-grid"
                                                             src="{% static "icons/cloud-1.png" %}"
                                                             height="128" style="margin: 10px;" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="campl-focus-teaser-txt">
                                        <div class="campl-content-container campl-horizontal-teaser-txt">
                                            <h3 class="campl-teaser-title">Test OS Upgrade</h3>
                                            <span class="ir campl-focus-link"></span>
                                        </div>
                                    </div>
                                </article>
                            </a>
                        </div>
                    </div>
                {% else %}
                    <div class="campl-column4">
                        <div class="campl-content-container campl-side-padding">
                            <article class="node node-external-link view-mode-focus_on clearfix
                                            campl-horizontal-teaser campl-teaser campl-focus-teaser">
                                <div class="campl-focus-teaser-img">
                                    <div class="campl-content-container campl-horizontal-teaser-img">
                                        <div class="field field-name-field-external-url-image field-type-image
                                                    field-label-hidden">
                                            <div class="field-items">
                                                <div class="field-item even">
                                                    <img class="campl-scale-with-grid"
                                                         src="{% static "icons/cloud-1.png" %}"
                                                         height="128" style="margin: 10px;" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="campl-focus-teaser-txt">
                                    <div class="campl-content-container campl-horizontal-teaser-txt">
                                        <h3 class="campl-teaser-title" style="color: orangered">Test OS Upgrade (disabled while the test servers is being configured)</h3>
                                        <span class="ir campl-focus-link"></span>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}

        {% if site.test_service and site.test_service.active and not site.test_service.is_busy %}
            <div class="campl-column4 campl-theme-3">
                <div class="campl-content-container campl-side-padding">
                    <a href="{% url 'sitesmanagement.views.service_settings' service_id=site.test_service.id %}">
                        <article class="node node-external-link view-mode-focus_on clearfix
                                        campl-horizontal-teaser campl-teaser campl-focus-teaser">
                            <div class="campl-focus-teaser-img">
                                <div class="campl-content-container campl-horizontal-teaser-img">
                                    <div class="field field-name-field-external-url-image field-type-image
                                                field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even">
                                                <img class="campl-scale-with-grid"
                                                     src="{% static "icons/settings-1.png" %}"
                                                     height="128" style="margin: 10px;" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="campl-focus-teaser-txt">
                                <div class="campl-content-container campl-horizontal-teaser-txt">
                                    <h3 class="campl-teaser-title">MWS test server settings</h3>
                                    <span class="ir campl-focus-link"></span>
                                </div>
                            </div>
                        </article>
                    </a>
                </div>
            </div>
        {% endif %}

            <div class="campl-column4">
                <div class="campl-content-container campl-side-padding">
                    <a href="https://sliderule.mws3.csx.cam.ac.uk/dashboard/script/mws3.js?name={{ stats_name }}">
                        <article class="node node-external-link view-mode-focus_on clearfix campl-horizontal-teaser campl-teaser campl-focus-teaser">
                            <div class="campl-focus-teaser-img">
                                <div class="campl-content-container campl-horizontal-teaser-img">
                                    <div class="field field-name-field-external-url-image field-type-image field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even">
                                                <img class="campl-scale-with-grid" src="{% static "icons/system-analytics.png" %}" height="128" style="margin: 10px;" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="campl-focus-teaser-txt">
                                <div class="campl-content-container campl-horizontal-teaser-txt">
                                    <h3 class="campl-teaser-title">System analytics</h3>
                                    <span class="ir campl-focus-link"></span>
                                </div>
                            </div>
                        </article>
                    </a>
                </div>
            </div>

            <div class="campl-column4">
                <div class="campl-content-container campl-side-padding">
                    <a href="{% url 'billing_management' site_id=site.id %}">
                        <article class="node node-external-link view-mode-focus_on clearfix campl-horizontal-teaser campl-teaser campl-focus-teaser">
                            <div class="campl-focus-teaser-img">
                                <div class="campl-content-container campl-horizontal-teaser-img">
                                    <div class="field field-name-field-external-url-image field-type-image field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even">
                                                <img class="campl-scale-with-grid" src="{% static "icons/case.png" %}" height="128" style="margin: 10px;" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="campl-focus-teaser-txt">
                                <div class="campl-content-container campl-horizontal-teaser-txt">
                                    <h3 class="campl-teaser-title">Billing settings</h3>
                                    <span class="ir campl-focus-link"></span>
                                </div>
                            </div>
                        </article>
                    </a>
                </div>
            </div>

            <div class="campl-column12">
                <div class="campl-content-container campl-side-padding">
                    <article class="node node-external-link view-mode-focus_on clearfix
                                    campl-horizontal-teaser campl-teaser campl-focus-teaser">
                        <div style="width: 33%; float: left; margin-right: 0; padding: 0;">
                            <div class="campl-content-container campl-horizontal-teaser-txt" style="color: white;">
                                    Server: {{ site.type.description }}<br/>
                                    IPv4: {{ site.production_service.ipv4 }}<br/>
                                    IPv6: {{ site.production_service.ipv6 }}<br/>
                                    hostname: {{ site.production_service.hostname }}<br/>
                                    Operating System: {{ site.production_service.operating_system }}<br/>
                                    {% if main_website %}
                                    default website: <a href="http{% if main_website.tls_enabled %}s{% endif %}://{{ main_website.main_domain.name }}">{{ main_website.main_domain.name }}</a>
                                    {% endif %}
                            </div>
                        </div>
                        {% if site.test_service and site.test_service.active and not site.test_service.is_busy %}
                        <div style="width: 33%; float: left; margin-right: 0; padding: 0;">
                            <div class="campl-content-container campl-horizontal-teaser-txt" style="color: white;">
                                    Test Server info<br/>
                                    IPv4: {{ site.test_service.ipv4 }}<br/>
                                    hostname: {{ site.test_service.hostname }}<br/>
                                    Operating System: {{ site.test_service.operating_system }}
                            </div>
                        </div>
                        {% endif %}
                        <div style="width: 33%; float: left; margin-right: 0; padding: 0; font-size: 10px;">
                            <div class="campl-content-container campl-horizontal-teaser-txt" style="color: white;">
                            List of SSH host key fingerprints. Click <span class="fpmd5">here for SHA256</span><span class="fpsha256">here for MD5</span> fingerprints.<br/>
                                {% for fingerprint in site.keys.all %}
                                   {{fingerprint.type}} - <span class="fpmd5">{{fingerprint.fingerprint}}</span><span class="fpsha256">{{fingerprint.fingerprint2}}</span><br/>
                                {% endfor %}
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block campl_foot_js %}
    <script>
        $('.fpmd5').click(function () {
            $('.fpmd5').toggle();
            $('.fpsha256').toggle();
        });
        $('.fpsha256').click(function () {
            $('.fpsha256').toggle();
            $('.fpmd5').toggle();
        })
    </script>
{% endblock %}
