{% extends 'project-light/campl-mws.html' %}
{% load static %}
{% block page_content %}
    <div class="view view-focus-on view-id-focus_on view-display-id-page">
        <div class="view-header">
            <div class="campl-content-container">
                <div class="campl-heading-container">
                    <h1 id="page-title">Administration of the MWS <span style="">{{ site.name }}</span></h1>
                </div>
            </div>
        </div>

        <div class="view-content">
            <div class="campl-column12">
                <div class="campl-content-container campl-side-padding">
                    <article class="node node-external-link view-mode-focus_on clearfix campl-horizontal-teaser
                                    campl-teaser campl-focus-teaser">
                        <div class="campl-focus-teaser-txt">
                            <div style="padding: 20px; color: white">
                                <h2 style="color: white">Messages:</h2>
                                <ul>
                                    {% for message in warning_messages %}
                                        <li>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>
            </div>

        {% if not site.primary_vm.is_busy %}

            {% if site.primary_vm %}
            <div class="campl-column4">
                <div class="campl-content-container campl-side-padding">
                    <article class="node node-external-link view-mode-focus_on clearfix
                                    campl-horizontal-teaser campl-teaser campl-focus-teaser">
                        <div class="campl-focus-teaser-img">
                            <div class="campl-content-container campl-horizontal-teaser-img">
                                <a href="{% url 'sitesmanagement.views.settings' vm_id=site.primary_vm.id %}">
                                    <div class="field field-name-field-external-url-image field-type-image
                                                field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even">
                                                <img class="campl-scale-with-grid"
                                                     src="{% static "icons/settings.png" %}"
                                                     height="128" style="margin: 10px;" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="campl-focus-teaser-txt">
                            <div class="campl-content-container campl-horizontal-teaser-txt">
                                <h3 class="campl-teaser-title">
                                    <a href="{% url 'sitesmanagement.views.settings' vm_id=site.primary_vm.id %}">
                                        Change settings of your primary VM
                                    </a>
                                </h3>
                                <a href="{% url 'sitesmanagement.views.settings' vm_id=site.primary_vm.id %}"
                                   class="ir campl-focus-link">Change settings of your primary VM</a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            {% endif %}

            <div class="campl-column4">
                <div class="campl-content-container campl-side-padding">
                    <article class="node node-external-link view-mode-focus_on clearfix
                                    campl-horizontal-teaser campl-teaser campl-focus-teaser">
                        <div class="campl-focus-teaser-img">
                            <div class="campl-content-container campl-horizontal-teaser-img">
                                <a href="{% url 'sitesmanagement.views.edit' site_id=site.id %}">
                                    <div class="field field-name-field-external-url-image field-type-image
                                                field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even">
                                                <img class="campl-scale-with-grid"
                                                     src="{% static "icons/site.png" %}"
                                                     height="128" style="margin: 10px;" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="campl-focus-teaser-txt">
                            <div class="campl-content-container campl-horizontal-teaser-txt">
                                <h3 class="campl-teaser-title">
                                    <a href="{% url 'sitesmanagement.views.edit' site_id=site.id %}">
                                        Change information about your MWS
                                    </a>
                                </h3>
                                <a href="{% url 'sitesmanagement.views.edit' site_id=site.id %}"
                                   class="ir campl-focus-link">Change information about your MWS</a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>

            <div class="campl-column4">
                <div class="campl-content-container campl-side-padding">
                    <article class="node node-external-link view-mode-focus_on clearfix
                                    campl-horizontal-teaser campl-teaser campl-focus-teaser">
                        <div class="campl-focus-teaser-img">
                            <div class="campl-content-container campl-horizontal-teaser-img">
                                <a href="{% url 'mwsauth.views.auth_change' site_id=site.id %}">
                                    <div class="field field-name-field-external-url-image field-type-image
                                                field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even">
                                                <img class="campl-scale-with-grid"
                                                     src="{% static "icons/user.png" %}"
                                                     height="128" style="margin: 10px;" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="campl-focus-teaser-txt">
                            <div class="campl-content-container campl-horizontal-teaser-txt">
                                <h3 class="campl-teaser-title">
                                    <a href="{% url 'mwsauth.views.auth_change' site_id=site.id %}">
                                        Change user and groups authorised in this MWS
                                    </a>
                                </h3>
                                <a href="{% url 'mwsauth.views.auth_change' site_id=site.id %}"
                                   class="ir campl-focus-link">Change user and groups authorised in this MWS</a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>

            {% if not site.is_busy %}

            <div class="campl-column4">
                <div class="campl-content-container campl-side-padding">
                    <article class="node node-external-link view-mode-focus_on clearfix
                                    campl-horizontal-teaser campl-teaser campl-focus-teaser">
                        <div class="campl-focus-teaser-img">
                            <div class="campl-content-container campl-horizontal-teaser-img">
                                <a href="{% url 'sitesmanagement.views.clone_vm_view' site_id=site.id %}">
                                    <div class="field field-name-field-external-url-image field-type-image
                                                field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even">
                                                <img class="campl-scale-with-grid"
                                                     src="{% static "icons/cloud.png" %}"
                                                     height="128" style="margin: 10px;" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="campl-focus-teaser-txt">
                            <div class="campl-content-container campl-horizontal-teaser-txt">
                                <h3 class="campl-teaser-title">
                                    <a href="{% url 'sitesmanagement.views.clone_vm_view' site_id=site.id %}">
                                        Clone your VM
                                    </a>
                                </h3>
                                <a href="{% url 'sitesmanagement.views.clone_vm_view' site_id=site.id %}"
                                   class="ir campl-focus-link">Clone your VM</a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>

            {% else %}

            <div class="campl-column4">
                <div class="campl-content-container campl-side-padding">
                    <article class="node node-external-link view-mode-focus_on clearfix
                                    campl-horizontal-teaser campl-teaser campl-focus-teaser">
                        <div class="campl-focus-teaser-img">
                            <div class="campl-content-container campl-horizontal-teaser-img">
                                <div class="field field-name-field-external-url-image field-type-image
                                            field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item even">
                                            <img class="campl-scale-with-grid"
                                                 src="{% static "icons/cloud.png" %}"
                                                 height="128" style="margin: 10px;" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="campl-focus-teaser-txt">
                            <div class="campl-content-container campl-horizontal-teaser-txt">
                                <h3 class="campl-teaser-title" style="color: orangered">
                                    Clone your VM (disabled while any of your VMs are being configured)
                                </h3>
                            </div>
                        </div>
                    </article>
                </div>
            </div>

            {% endif %}

        {% endif %}

        {% if site.secondary_vm and not site.secondary_vm.is_busy %}
            <div class="campl-column4">
                <div class="campl-content-container campl-side-padding">
                    <article class="node node-external-link view-mode-focus_on clearfix
                                    campl-horizontal-teaser campl-teaser campl-focus-teaser campl-focus-teaser-red">
                        <div class="campl-focus-teaser-img">
                            <div class="campl-content-container campl-horizontal-teaser-img">
                                <a href="{% url 'sitesmanagement.views.settings' vm_id=site.secondary_vm.id %}">
                                    <div class="field field-name-field-external-url-image field-type-image
                                                field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even">
                                                <img class="campl-scale-with-grid"
                                                     src="{% static "icons/settings.png" %}"
                                                     height="128" style="margin: 10px;" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="campl-focus-teaser-txt">
                            <div class="campl-content-container campl-horizontal-teaser-txt">
                                <h3 class="campl-teaser-title">
                                    <a href="{% url 'sitesmanagement.views.settings' vm_id=site.secondary_vm.id %}">
                                        Change settings of your secondary VM
                                    </a>
                                </h3>
                                <a href="{% url 'sitesmanagement.views.settings' vm_id=site.secondary_vm.id %}"
                                   class="ir campl-focus-link campl-focus-link-red">Change settings of your secondary VM</a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        {% endif %}

            <div class="campl-column4">
                <div class="campl-content-container campl-side-padding">
                    <article class="node node-external-link view-mode-focus_on clearfix
                                    campl-horizontal-teaser campl-teaser campl-focus-teaser">
                        <div class="campl-focus-teaser-img">
                            <div class="campl-content-container campl-horizontal-teaser-img">
                                <a href="{% url 'sitesmanagement.views.billing_management' site_id=site.id %}">
                                    <div class="field field-name-field-external-url-image field-type-image
                                                field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even">
                                                <img class="campl-scale-with-grid"
                                                     src="{% static "icons/billing.png" %}"
                                                     height="128" style="margin: 10px;" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="campl-focus-teaser-txt">
                            <div class="campl-content-container campl-horizontal-teaser-txt">
                                <h3 class="campl-teaser-title">
                                    <a href="{% url 'sitesmanagement.views.billing_management' site_id=site.id %}">
                                        Change billing information
                                    </a>
                                </h3>
                                <a href="{% url 'sitesmanagement.views.billing_management' site_id=site.id %}"
                                   class="ir campl-focus-link">Change billing information</a
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
{% endblock %}