    <div class="campl-column4 {% if system_package_id in packages_installed %}campl-theme-3{% endif %}">
        <div class="campl-content-container">
            <div class="campl-horizontal-teaser campl-teaser clearfix campl-focus-teaser">
                <div class="campl-focus-teaser-img">
                    <div class="campl-content-container campl-horizontal-teaser-img">
                        <a href="javascript:system_package_selection({{ system_package_id }},'{{ system_package_name }}',{% if system_package_id in packages_installed %}true{% else %}false{% endif %})"
                           class="campl-teaser-img-link"><i class="fa fa-white {{ system_package_image }} fa-6x"></i></a>
                    </div>
                </div>
                <div class="campl-focus-teaser-txt">
                    <div class="campl-content-container campl-horizontal-teaser-txt">
                        <h3 class="campl-teaser-title">
                        <a href="javascript:system_package_selection({{ system_package_id }},'{{ system_package_name }}',{% if system_package_id in packages_installed %}true{% else %}false{% endif %})">
                            {{ system_package_name }} {% if system_package_id in packages_installed %}&lt;installed&gt;{% endif %}</a></h3>
                        <a href="javascript:system_package_selection({{ system_package_id }},'{{ system_package_name }}',{% if system_package_id in packages_installed %}true{% else %}false{% endif %})"
                           class="ir campl-focus-link">{{ system_package_name }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>