{% extends 'project-light/campl-mws.html' %}
{% load static %}
{% block page_content %}
    <div class="campl-column12">
        <div class="campl-content-container">
            <h1 id="page-title">Install system packages</h1>
            <p>Select the packages you want to install. Each option will install all the system packages needed to run
            the specified service or application.</p>

            {% include "mws/system_packages_snippet.html" with system_package_id=1 system_package_name="Wordpress" system_package_image="fa-wordpress" %}
            {% include "mws/system_packages_snippet.html" with system_package_id=2 system_package_name="Drupal" system_package_image="fa-drupal" %}
            {% include "mws/system_packages_snippet.html" with system_package_id=3 system_package_name="git" system_package_image="fa-git-square" %}
            {% include "mws/system_packages_snippet.html" with system_package_id=4 system_package_name="joomla" system_package_image="fa-joomla" %}

        </div>
    </div>

    <form id="package_number_form" action={% url 'sitesmanagement.views.system_packages' vm_id=vm.id %} method="post">
        {% csrf_token %}
        <input type="hidden" name="package_number" id="package_number">
    </form>
{% endblock %}

{% block campl_foot_js %}
    <script>
        function system_package_selection(package_id) {
            $('#package_number')[0].value = package_id;
            $('#package_number_form')[0].submit();
        }

        $(document).ready(function() {
            $('[data-toggle="confirmation"]').confirmation({singleton:true, popout:true, placement:'top'});
        })
    </script>
{% endblock %}