{% extends 'project-light/campl-mws.html' %}
{% load static %}
{% block page_content %}
    <div class="campl-column12">
        <div class="campl-content-container">
            <h1 id="page-title">Install system packages</h1>

            <p>Select those packages you want to install in your machine</p>
            <select multiple="multiple" id="systempackages" name="packages-selection[]">
                <option>dwoo - PHP5 template engine</option>
                <option>php5-exactimage - fast image manipulation library (PHP bindings)</option>
                <option>php5-ffmpeg - audio and video support via ffmpeg for php5</option>
                <option>php5-gdcm - Grassroots DICOM PHP5 bindings</option>
                <option>php5-vtkgdcm - Grassroots DICOM VTK PHP bindings</option>
                <option>php-geshi - Generic Syntax Highlighter</option>
                <option>gosa-plugin-phpgw - phpgw plugin for GOsa²</option>
                <option>gosa-plugin-phpscheduleit - phpscheduleit plugin for GOsa²</option>
                <option>libgv-php5 - PHP5 bindings for graphviz</option>
                <option>jffnms - PHP Network Management System</option>
                <option>kdevelop-php - PHP plugin for KDevelop</option>
                <option>kdevelop-php-docs - PHP documentation plugin for KDevelop</option>
                <option>php5-lasso - Library for Liberty Alliance and SAML protocols - PHP 5 bindings</option>
                <option>libfpdf-tpl-php - PHP library to use PDF templates with FPDF</option>
                <option>libfpdi-php - PHP library for importing existing PDF documents into FPDF</option>
                <option>libkohana3.1-core-php - PHP5 framework core classes</option>
                <option>libkohana3.1-php - PHP5 framework metapackage</option>
                <option>libkohana3.2-core-php - PHP5 framework core classes</option>
                <option>libkohana3.2-php - PHP5 framework metapackage</option>
                <option>libmarkdown-php - PHP library for rendering Markdown data</option>
                <option>liboauth-php - PHP library implementing the OAuth secure authentication protocol</option>
                <option>php5-mapscript - php5-cgi module for MapServer</option>
                <option>php5-ming - Ming module for php5</option>
                <option>phamm - PHP front-end to manage virtual services on LDAP - main package</option>
                <option>phamm-ldap - PHP front-end to manage virtual services on LDAP - back-end files</option>
                <option>phamm-ldap-amavis - PHP front-end to manage virtual services on LDAP - back-end files</option>
                <option>phamm-ldap-vacation - PHP front-end to manage virtual services on LDAP - back-end files</option>
                <option>php5-adodb - Extension optimising the ADOdb database abstraction library</option>
                <option>php-apc - APC (Alternative PHP Cache) module for PHP 5</option>
                <option>php-auth - PHP PEAR modules for creating an authentication system</option>
                <option>php-auth-http - HTTP authentication</option>
                <option>php-auth-sasl - Abstraction of various SASL mechanism responses</option>
                <option>php-cache - framework for caching of arbitrary data</option>
                <option>php-cache-lite - Fast and lite data cache system</option>
                <option>php-cas - Central Authentication Service client library in php</option>
                <option>php-codecoverage - provides collection, processing and rendering for PHP code coverage information</option>
                <option>php-codesniffer - PHP, CSS and JavaScript coding standard analyzer and checker</option>
                <option>php-compat - Provides components to achieve PHP version independence</option>
                <option>php-config - Your configuration's swiss-army knife</option>
                <option>php-console-table - PHP PEAR module to make it easy to build console style tables</option>
                <option>php-crypt-blowfish - Allows for quick two-way blowfish encryption without requiring the MCrypt PHP extension</option>
                <option>php-crypt-cbc - PEAR class to emulate Perl's Crypt::CBC module</option>
                <option>php-date - PHP PEAR module for date and time manipulation</option>
                <option>php-db - PHP PEAR Database Abstraction Layer</option>
                <option>php-doc - Documentation for PHP5</option>
                <option>php-elisp - Emacs support for php files</option>
                <option>php-event-dispatcher - Dispatch notifications using PHP callbacks</option>
                <option>php-file - PHP Pear modules for common file and directory routines</option>
                <option>php-file-iterator - FilterIterator implementation for PHP</option>
                <option>php-fpdf - PHP class to generate PDF files</option>
                <option>php5-geoip - GeoIP module for php5</option>
                <option>php-getid3 - PHP script to extract informations from multimedia files</option>
                <option>php-gettext - read gettext MO files directly, without requiring anything other than PHP</option>
                <option>php-html-common - base class for other HTML classes</option>
                <option>php-html-safe - strip down all potentially dangerous content within HTML</option>
                <option>php-html-template-it - PEAR HTML Isotemplate API</option>
                <option>php-htmlpurifier - Standards-compliant HTML filter</option>
                <option>php-http - PHP PEAR module for HTTP related stuff</option>
                <option>php-http-request - PEAR class to provide an easy way to perform HTTP requests</option>
                <option>php-http-upload - Easy and secure management of files submitted via HTML Forms</option>
                <option>php-http-webdav-server - WebDAV server base class</option>
                <option>php-image-text - PEAR module to do advanced text manipulations in images</option>
                <option>php5-imagick - ImageMagick module for php5</option>
                <option>php-imlib - PHP Imlib2 Extension</option>
                <option>php-invoker - utility class for invoking callables with a timeout</option>
                <option>php-letodms-core - Document management system - Core files</option>
                <option>php-letodms-lucene - Document management system - Fulltext search</option>
                <option>php-log - log module for PEAR</option>
                <option>php-mail - PHP PEAR module for sending email</option>
                <option>php-mail-mime - PHP PEAR module for creating MIME messages</option>
                <option>php-mail-mimedecode - PHP PEAR module to decode MIME messages</option>
                <option>php-mdb2 - merge of the PEAR DB and Metabase php database abstraction layers</option>
                <option>php-mdb2-driver-mysql - PHP PEAR module to provide a MySQL driver for MDB2</option>
                <option>php-mdb2-driver-pgsql - PHP PEAR module to provide a PostgreSQL driver for MDB2</option>
                <option>php-mdb2-schema - XML based database schema manager</option>
                <option>php5-memcache - memcache extension module for PHP5</option>
                <option>php5-memcached - memcached extension module for PHP5, uses libmemcached</option>
                <option>php-mime-type - Utility class for dealing with MIME types</option>
                <option>php-net-checkip - check the syntax of IPv4 addresses</option>
                <option>php-net-dime - class that implements DIME encoding</option>
                <option>php-net-dnsbl - Checks if a given host or URL is listed on a DNSBL or SURBL</option>
                <option>php-net-ftp - provides an OO interface to the PHP FTP functions</option>
                <option>php-net-imap - Provides an implementation of the IMAP protocol</option>
                <option>php-net-ipv4 - IPv4 network calculations and validation</option>
                <option>php-net-ipv6 - Check and validate IPv6 addresses</option>
                <option>php-net-ldap - a OO interface for searching and manipulating LDAP-entries</option>
                <option>php-net-ldap2 - PHP PEAR module for searching and manipulating LDAP-entries</option>
                <option>php-net-lmtp - PHP PEAR module implementing LMTP protocol</option>
                <option>php-net-nntp - PHP Pear module for NNTP</option>
                <option>php-net-portscan - Portscanner utilities</option>
                <option>php-net-sieve - net_sieve module for PEAR</option>
                <option>php-net-smartirc - provides an OO interface to the PHP IRC functions</option>
                <option>php-net-smtp - PHP PEAR module implementing SMTP protocol</option>
                <option>php-net-socket - PHP PEAR Network Socket Interface module</option>
                <option>php-net-url - easy parsing of Urls</option>
                <option>php-net-url2 - Class for parsing and handling URL</option>
                <option>php-net-whois - PHP PEAR module for querying whois services</option>
                <option>php-numbers-words - PEAR module providing methods for spelling numerals in words</option>
                <option>php-openid - PHP OpenID library</option>
                <option>php-pager - Pages an array of data, creating links to previous and next pages</option>
                <option>php5-ps - ps module for PHP 5</option>
                <option>php-radius-legacy - Radius protocol implementation in PHP</option>
                <option>php5-radius - PECL radius module for PHP 5</option>
                <option>php5-rrd - rrd module for PHP 5</option>
                <option>php5-sasl - Cyrus SASL extension for PHP 5</option>
                <option>php-services-json - PHP implementaion of json_encode/decode</option>
                <option>php-services-weather - acts as an interface to various online weather-services</option>
                <option>php-soap - a SOAP Client/Server class for PHP</option>
                <option>libssh2-php - PHP Bindings for libssh2</option>
                <option>php5-svn - PHP Bindings for the Subversion Revision control system</option>
                <option>php-symfony-yaml - Symfony YAML: A PHP library that speaks YAML</option>
                <option>php-text-captcha - PEAR module for generating CAPTCHAs</option>
                <option>php-text-figlet - PEAR module for rendering text using FIGlet fonts</option>
                <option>php-text-password - a PEAR module for creating passwords with PHP</option>
                <option>php-text-template - Simple php template engine</option>
                <option>php-text-wiki - transforms Wiki and BBCode markup into XHTML, LaTeX or plain text markup</option>
                <option>php-timer - PHP Utility class for timing</option>
                <option>php-token-stream - Wrapper around PHP's tokenizer extension</option>
                <option>php5-tokyo-tyrant - PHP interface to Tokyo Cabinet's network interface, Tokyo Tyrant</option>
                <option>php-validate - validation class</option>
                <option>php-xajax - A library to develop Ajax applications</option>
                <option>php-xml-dtd - parsing of DTD files and DTD validation of XML files</option>
                <option>php-xml-htmlsax3 - SAX parser for HTML and other badly formed XML documents</option>
                <option>php-xml-parser - PHP PEAR module for parsing XML</option>
                <option>php-xml-rpc - PHP implementation of the XML-RPC protocol</option>
                <option>php-xml-rpc2 - PHP XML-RPC client/server library</option>
                <option>php-xml-rss - php based parser for RSS news feeds</option>
                <option>php-xml-serializer - swiss-army knife for reading and writing XML files</option>
                <option>libapache2-mod-php5 - server-side, HTML-embedded scripting language (Apache 2 module)</option>
                <option>libapache2-mod-php5filter - server-side, HTML-embedded scripting language (apache 2 filter module)</option>
                <option>libphp5-embed - HTML-embedded scripting language (Embedded SAPI library)</option>
                <option>php-pear - PEAR - PHP Extension and Application Repository</option>
                <option>php5 - server-side, HTML-embedded scripting language (metapackage)</option>
                <option>php5-cgi - server-side, HTML-embedded scripting language (CGI binary)</option>
                <option>php5-cli - command-line interpreter for the php5 scripting language</option>
                <option>php5-common - Common files for packages built from the php5 source</option>
                <option>php5-curl - CURL module for php5</option>
                <option>php5-dbg - Debug symbols for PHP5</option>
                <option>php5-dev - Files for PHP5 module development</option>
                <option>php5-enchant - Enchant module for php5</option>
                <option>php5-fpm - server-side, HTML-embedded scripting language (FPM-CGI binary)</option>
                <option>php5-gd - GD module for php5</option>
                <option>php5-gmp - GMP module for php5</option>
                <option>php5-imap - IMAP module for php5</option>
                <option>php5-interbase - interbase/firebird module for php5</option>
                <option>php5-intl - internationalisation module for php5</option>
                <option>php5-ldap - LDAP module for php5</option>
                <option>php5-mcrypt - MCrypt module for php5</option>
                <option>php5-mysql - MySQL module for php5</option>
                <option>php5-mysqlnd - MySQL module for php5 (Native Driver)</option>
                <option>php5-odbc - ODBC module for php5</option>
                <option>php5-pgsql - PostgreSQL module for php5</option>
                <option>php5-pspell - pspell module for php5</option>
                <option>php5-recode - recode module for php5</option>
                <option>php5-snmp - SNMP module for php5</option>
                <option>php5-sqlite - SQLite module for php5</option>
                <option>php5-sybase - Sybase / MS SQL Server module for php5</option>
                <option>php5-tidy - tidy module for php5</option>
                <option>php5-xmlrpc - XML-RPC module for php5</option>
                <option>php5-xsl - XSL module for php5</option>
                <option>phpbb3 - full-featured, skinnable non-threaded web forum</option>
                <option>phpbb3-l10n - additional language files for phpBB</option>
                <option>phpldapadmin - web based interface for administering LDAP servers</option>
                <option>phpmyadmin - MySQL web administration tool</option>
                <option>phppgadmin - web-based administration tool for PostgreSQL</option>
                <option>phpreports - XML-based report generator for PHP</option>
                <option>phpsysinfo - PHP based host information</option>
                <option>phpunit - Unit testing suite for PHP5</option>
                <option>phpunit-mock-object - Mock Object library for PHPUnit</option>
                <option>phpunit-selenium - Selenium RC integration for PHPUnit</option>
                <option>phpunit-story - extension to facilitate Behaviour-Driven Development</option>
                <option>phpwebcounter - simple and light web hit counter</option>
                <option>phpwebcounter-extra - extra graphical numbers to PHP Web Counter</option>
                <option>php5-librdf - PHP5 language bindings for the Redland RDF library</option>
                <option>php5-remctl - PECL module for Kerberos-authenticated command execution</option>
                <option>php-wikidiff2 - external diff engine for mediawiki</option>
                <option>php5-xcache - Fast, stable PHP opcode cacher</option>
                <option>php5-xdebug - Xdebug Module for PHP 5</option>
                <option>yate-scripts - PHP scripts for YATE</option>
                <option>php-zeroc-ice - Ice for PHP extension</option>
                <option>php-aws-sdk - software development kit to build solutions for Amazon</option>
                <option>php-google-api-php-client - Google APIs client library for PHP</option>
                <option>php-doctrine-common - common extensions for doctrine</option>
                <option>php-dompdf - HTML to PDF converter</option>
                <option>php-dropbox - Dropbox API library</option>
                <option>php-font-lib - read, parse, export and make subsets of different fonts</option>
                <option>php-guzzle - object-oriented PHP HTTP client</option>
                <option>php-irods-prods - PHP client API for iRODS</option>
                <option>php5-mongo - MongoDB database driver</option>
                <option>php-patchwork-utf8 - UTF-8 strings handling for PHP</option>
                <option>php-sabre-vobject - library to parse and manipulate iCalendar and vCard objects</option>
                <option>php-sabre-dav - SabreDAV allows you to easily add WebDAV support to a PHP application</option>
                <option>php-sabredav - transitional dummy package</option>
                <option>php-symfony-console - Symfony framework - Console component</option>
                <option>php-symfony-eventdispatcher - Symfony framework - Event Dispatcher component</option>
                <option>php-symfony-routing - Symfony framework - Routing component</option>
                <option>php-phpdocx - dynamical generation of .docx files</option>
                <option>php-seclib - implementations of an arbitrary-precision integer arithmetic library</option>
                <option>php-tcpdf - PHP class for generating PDF files on-the-fly</option>
            </select>
        </div>
    </div>
{% endblock %}

{% block campl_foot_js %}
    <script src="{% static 'js/jquery.multi-select.js' %}" type="text/javascript"></script>
    <script>
        $('#systempackages').multiSelect()
    </script>
{% endblock %}
