{% extends 'project-light/campl-mws.html' %}
{% load static %}
{% block page_content %}
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function delete_unix_group(url) {
            $.ajax({
                url: url,
                type: 'DELETE',
                success: function(result) {
                    location.reload();
                },
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                },
                crossDomain: false
            });
        }
    </script>

    <div class="campl-column12 campl-main-content">
        <div class="campl-content-container">

            <h1>Unix groups for the site "{{ vm.site.name }}"</h1>
            <table class="campl-table-bordered campl-table-striped campl-table campl-vertical-stacking-table">
                <thead>
                    <tr>
                        <th>Unix group name</th>
                        <th>Users</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for unix_group in vm.unix_groups.all %}
                    <tr>
                        <td>
                            {{ unix_group.name }}
                        </td>
                        <td>
                            {{ unix_group.users.all|join:", " }}
                        </td>
                        <td style="width: 160px;">
                            <a href="{% url 'sitesmanagement.views.unix_group' ug_id=unix_group.id %}">
                                <i title="Users in this group" class="fa fa-group fa-2x"></i>
                            </a>
                            <a class="delete_vhost" data-toggle="confirmation" data-href="javascript:delete_unix_group('{% url 'sitesmanagement.views.delete_unix_group' ug_id=unix_group.id %}')" href="#">
                                <i title="Delete" class="fa fa-trash-o fa-2x"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        <p><a href="{% url 'sitesmanagement.views.add_unix_group' vm_id=vm.id %}" class="campl-primary-cta">Add a new Unix Group</a></p>

        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('[data-toggle="confirmation"]').confirmation({singleton:true, popout:true});
        })
    </script>
{% endblock %}
