{% extends 'project-light/campl-mws.html' %}
{% load static %}
{% block page_content %}
    <div class="campl-column12 campl-main-content">
        <div class="campl-content-container">

            <h1>Web sites for the MWS "{{ vm.site.name }}"</h1>

            {% if vm.vhosts.all %}
                <table class="campl-table-bordered campl-table-striped campl-table campl-vertical-stacking-table">
                    <thead>
                        <tr>
                            <th>Web sites</th>
                            <th>Domain Names associated</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for vhost in vm.vhosts.all %}
                        <tr>
                            <td>
                                {{ vhost.name }}
                            </td>
                            <td>
                                {% for domain_name in vhost.sorted_domain_names %}
                                    {{ domain_name.name }},
                                {% endfor %}
                            </td>
                            <td style="width: 160px;">
                                <a href="{% url 'sitesmanagement.views.domains_management' vhost_id=vhost.id %}"
                                   style="text-decoration: none;">
                                    <i title="Domains associated to this web site" class="fa fa-link fa-2x"
                                       data-toggle="tooltip" ></i>
                                </a>
                                <a href="{% url 'sitesmanagement.views.certificates' vhost_id=vhost.id %}">
                                    <i title="TLS certificates" class="fa fa-lock fa-2x" data-toggle="tooltip"></i>
                                </a>
                                <a class="delete_vhost" data-href="javascript:delete_vhost('{% url 'sitesmanagement.views.delete_vhost' vhost_id=vhost.id %}')" href="#">
                                    <i title="Delete" class="fa fa-trash-o fa-2x" data-toggle="tooltip"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p style="margin-top: 20px; margin-bottom: 20px">The server doesn't have web sites configured</p>
            {% endif %}

            <p><a id="add_vhost_button" href="#" class="campl-primary-cta">Add a new Web site</a></p>

            <div id="add_vhost_div" style="display: none; margin-top: 20px">
                <form action={% url 'sitesmanagement.views.add_vhost' vm_id=vm.id %} method="post">{% csrf_token %}
                    <fieldset>
                        <div id="vhost_form">
                            {{ vhost_form.as_p }}
                        </div>
                        <p><input type="submit" value="Submit" class="campl-btn campl-primary-cta"/></p>
                    </fieldset>
                </form>
            </div>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="delete_modal_label" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-body">
            Are you sure do you want to delete the web site?
          </div>
          <div class="modal-footer" style="padding: 10px 20px 10px;">
            <button type="button" class="campl-btn campl-primary-cta" data-dismiss="modal">Cancel</button>
            <a class="campl-btn campl-primary-cta campl-primary-red" id="delete_modal_button">Delete</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block campl_foot_js %}
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function delete_vhost(url) {
            $.ajax({
                url: url,
                type: 'DELETE',
                success: function(result) {
                    location.reload();
                },
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                },
                crossDomain: false
            });
        }

        $('[data-toggle="tooltip"]').tooltip({'placement': 'top'});

        $('#add_vhost_button').click(function() {
            $('#add_vhost_div').show("fast")
        });

        $('.delete_vhost').click(function() {
            $("#delete_modal_button").attr("href", $( this ).attr('data-href'));
            $('#delete_modal').modal();
        });
    </script>
{% endblock %}