{% extends 'campl.html' %}
{% load static %}
{% block campl_block_head %}
{% include 'project-light/campl-block-head-mws.html' %}
{% endblock %}
{% block campl_page_header %}
{% include 'project-light/campl-page-header-mws.html' %}
{% endblock %}
{% block campl_tabs_header %}
{% include 'project-light/campl-tabs-header-mws.html' %}
{% endblock %}
{% block page_content %}
{% include 'project-light/campl-page-content-mws.html' %}
{% endblock %}
{% block local_footer %}
{% include 'project-light/campl-local-footer-mws.html' %}
{% endblock %}
{% block campl_foot_js %}
{% include 'project-light/campl-foot-js-mws.html' %}
{% endblock %}